<template>
	<dr-appointment-list
		title="Consultas Marcadas"
		:appointments="appointments"
	>
	</dr-appointment-list>
</template>

<script>
import DRAppointmentList from '../templates/DRAppointmentList.vue'

export default {
	components: {
		'dr-appointment-list': DRAppointmentList
	},

	data: () => ({
		appointments: []
	}),
	mounted() {
		$.request('onGetAgendamentosByUser', {
			success: (data) =>
			{
				data.forEach(appointment => {
					this.appointments.push({
						id: appointment.id,
						speciality: appointment.servico,
						doctor: appointment.medico,
						date: appointment.data,
						time: appointment.horario
					})
				})
			}
		});
	},
	methods: {
		onAppointmentClick(appointment) {
			console.log('clicou')
		}
	}
}
</script>
