<template>
	<dr-appointment-list
		title="Consultas Pendentes"
		:appointments="appointments"
	>
	</dr-appointment-list>
</template>

<script>
import DRAppointmentList from '../templates/DRAppointmentList.vue'

export default {
	components: {
		'dr-appointment-list': DRAppointmentList
	},

	data: () => ({
		appointments: [],
		data: []
	}),
	mounted(){
		$.request('onGetAgendamentosByUser', {
			success: (data) =>
			{
				this.data = data.filter(value => {
					return value.status.includes('p') == true
				})
				this.data.forEach(appointment => {
					this.appointments.push({
						id: appointment.id,
						speciality: appointment.servico,
						doctor: appointment.medico,
						date: appointment.data,
						time: appointment.horario
					})
				})
			}
		});
	},
	methods: {
		onAppointmentClick(appointment) {
			console.log('Clicou no appointment', appointment.doctor)
		}
	}
}
</script>
