<template>
    <div>
        AUTH PROVIDER
    </div>
</template>

<script>
import DRAlert from '@/components/molecules/DRAlert.vue'

export default {
	components: {
        'dr-alert': DRAlert
	},

	beforeRouteEnter(to, from, next) {

	    /*
		// Get service data
		$.request('onGetService', {
			data: {
				id: to.params.servico_id
			},
			success: servico => {
				let callback = medico => {

                    next(vm => {

                        vm.servico = servico
                        vm.especialidade = servico.especialidade

                        if (medico)
                            vm.medico = medico
                    })

				};

				// If medico is passed
				if (to.params.medico_id) {
                    $.request('onGetDoctor', {
                        data: {
                            id: to.params.medico_id
                        },
                        success: medico => callback(medico)
                    });
                } else {
                    callback()
                }

			},
			error: next
		})
		*/
},
	mounted() {

	},

}
</script>
