<template>
    <div class="col-12">
        <!-- Wrapper -->
        <div class="wrapper exame">

            <!-- Search Box -->
            <div class="row">
                <div class="col-12">
                    <div class="global-search-box">
                        <div class="main-center">
                            <h1 class="section-title">Exames do Coração</h1>
                            <p class="section-label"></p>
                            <form class="global-searchbar-form" method="GET" action="/exame.html">
                                <button class="searchbar-form-submit">Buscar</button>
                                <input class="searchbar-form-input" @keyup="search" v-model="q" type="text" placeholder="Pesquise por exame">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Horizontal items -->
            <div class="row">
                <div class="col-12">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-12" v-for="(exame, index) in exames" :key="index">
                                <div class="global-horiz-item">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p class="horiz-item-label">{{exame.nome}}</p>
                                            <p class="horiz-item-excerpt" v-html="exame.sobre_procedimento.substring(0, 300) + '...'"></p>
                                            <router-link class="horiz-item-more" :to="{name: 'exame', params: {id: exame.id}}" :title="exame.nome">Saiba mais</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data: () => ({
            data: [],
            exames: [],
            filtered: [],
            features: [],
            limit: 10,
            page: 1,
            q: ""
        }),
        mounted(){
        },
        beforeRouteEnter(to, from, next){
            $.request('onLoadExames', {
                data: {cat: to.params.slug},
                success: (data) =>
                    next(vm => {
                        vm.data = data
                        vm.exames = vm.data.slice(0, (vm.limit * vm.page))
                    })
            });
        },
        methods: {
            viewMore(event){
                this.page++;
                this.exames = this.data.slice(0, (this.limit * this.page))
                event.preventDefault()
            },
            search(event) {
                this.exames = this.data.filter(value => {
                    return value.nome.includes(this.q) == true
                }).slice(0, (this.limit * this.page))
            }

        }
    }
</script>

<style>
</style>
