<template>
	<div class="col-12" @click="dropdown = false">
		<!-- Wrapper -->
		<div class="wrapper contato">
			<div class="row">
				<div class="col-12">
					<div class="main-center">
						<div class="row">
							<div class="col-md-4">
								<h1 class="section-title"><b>Tem Dúvidas?</b><br>Entre em contato conosco</h1>
							</div>
							<div class="col-md-7 offset-md-1">
								<form class="contato-form" action="" @submit="onSubmit">
									<dr-input-text
										placeholder="Nome"
										name="name"
										v-validate="'required|min:4'"
										v-model="formData.nome"
										:error="errors.first('name')"
									/>
									<dr-input-text
										placeholder="Email"
										type="email"
										name="email"
										v-validate="'required|email|min:5'"
										v-model="formData.email"
										:error="errors.first('email')"
									/>
									<dr-input-text
										placeholder="Telefone"
										:mask="{phone : true, phoneRegionCode : 'br'}"
										name="phone"
										v-validate="'required'"
										v-model="formData.telefone"
										:error="errors.first('phone')"
									/>
									<dr-input-text
										placeholder="Mensagem"
										name="message"
										v-validate="'required'"
										v-model="formData.mensagem"
										:error="errors.first('message')"
									/>
										<div class="form-group text-right mb0">
										<button>Enviar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row" v-if="selected">
				<div class="col-12">
					<div class="contato-maps">
						<div class="contato-maps-panel">
							<div class="main-center">
								<div class="maps-panel-content">
									<h2 class="maps-panel-title">Onde Estamos</h2>
									<ul class="maps-panel-list global-dropdown-list mb0" :class="{ 'active': dropdown }">
										<li class="dropdown-list-item selected text-left" style="color:#FF206E;opacity:1;" @click.stop="dropdown = true">
											<span>{{ selected.name }}</span> <i class="dropdown-arrow"></i>
										</li>
										<ul class="dropdown-sublist">
											<li class="dropdown-sublist-item" v-for="(unidade, index) in unidades">
											 <a @click="onUnitSelect(unidade)">
												 {{ unidade.name }}
											 </a>
											</li>
										</ul>
									</ul>
									<p class="maps-panel-address">{{ selected.endereco }}</p>
									<p class="maps-panel-phone"><i class="icon"></i> <span>{{ selected.telefone }}</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<dr-map :center="position" v-if="selected" class="dr-contato__map">
				</dr-map>
			</div>
		</div>

		<transition name="fade">
			<dr-alert
				v-if="success"
				message="Contato enviado com sucesso!"
				@confirm="success = false"
				@close="success = false"
			>
			</dr-alert>
		</transition>
	</div>
</template>

<script>
import DRMap from '../atoms/DRMap.vue'
import DRAlert from '../molecules/DRAlert.vue'
import DRInputText from '../molecules/DRInputText.vue'

export default{
	components: {
		'dr-map': DRMap,
		'dr-alert': DRAlert,
		'dr-input-text': DRInputText
	},

	metaInfo:{
		title: 'Dr. na Hora | Entre em contato consco',
		meta: [
			{
				property: 'description',
				content: 'Faça sugestões e tire dúvidas entrando em contato conosco. Estamos prontos para atendê-lo. Acesse!'
			}
		]
	},

	data: () => ({
		formData: {},
		unidades: [],
		dropdown: false,
		success: false,
		selected: null
	}),

	computed: {
		position() {
			return {
				lat: +this.selected.eixo_x,
				lng: +this.selected.eixo_y
			}
		}
	},

	beforeRouteEnter(to, from, next){
		$.request('onLoadUnidades', {
			success: (data) =>
			next(vm => {
				vm.unidades = data
				vm.selected = vm.unidades[0]
			})
		})
	},

	methods: {
		onSubmit(event){
			event.preventDefault();
			this.$validator.validate()
				.then(success => {
					if (success)
						$.request('onSendMail', {
							data: {form: this.formData},
							success: (data) => {
								this.success = true
							}
						})
				})
		},

		onUnitSelect(unidade) {
			this.selected = unidade
		}
	},
}
</script>

<style lang="scss">
.dr-contato{
	&__map{
		width: 100%;
		margin-top: -200px;
	}
}
</style>
