<template>
    <div class="col-12">
        <!-- Wrapper -->
        <div class="wrapper consulta">

            <!-- Cabeçalho -->
            <div class="row">
                <div class="col-12">
                    <div class="consulta-header">
                        <div class="main-center">
                            <div class="row">
                                <div class="col-md-8">

                                    <h1 class="section-title">{{consulta.nome}}</h1>
                                </div>
                                <div class="col-md-4 text-sm-left text-md-right">
                                    <div class="v-align">
                                        <div class="v-align-middle">
                                            <span class="consulta-price">Valor: <b>R$ {{consulta.valor}}</b></span>
																						<router-link class="global-link" :to="{ name: 'schedule', params: { service_id: consulta.id } }" title="Agendar">Agendar</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-md-5">
															<article class="consulta-content">
																<h3 class="consulta-content-title">
																	Sobre o procedimento
																</h3>
																<div v-html="consulta.sobre_procedimento"></div>
															</article>
                            </div>
                            <div class="col-md-5 offset-md-2">
                                <div class="consulta-content">
                                    <h3 class="consulta-content-title">Médicos</h3>
                                    <ul class="consulta-doctor-list">
                                        <li class="doctor-list-item clearfix" v-for="(medico, index) in consulta.medicos">
																						<img class="doctor-thumb" :src="medico.foto ? medico.foto.path : ''" alt="">
                                            <div class="doctor-name">{{medico.name}}</div>
                                            <div class="doctor-info">{{medico.orgao}}-{{medico.uf_orgao}} {{medico.codigo_orgao}}</div>
                                            <span v-for="(espec, index) in medico.especialidades" class="doctor-info"> {{espec.nomeEspecialidade}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data: () => ({
            consulta: [],
        }),
        mounted(){
        },
        beforeRouteEnter(to, from, next){
            $.request('onLoadConsultas', {
                data: {id: to.params.id},
                success: (data) =>
                    next(vm => {
                        vm.consulta = data
                    })
            });
        },
    }
</script>

<style>
</style>
