<template>
	<dr-appointment-list
		title="Editar Dados"
		:name="user.name"
		:surname="user.surname"
		:email="user.email"
		:phone="user.phone"
		:cel="user.cel"
		@callback="onEditSend"
	>
	</dr-appointment-list>
</template>

<script>
import DRFormEdit from '../templates/DRFormEdit.vue'

export default {
	components: {
		'dr-appointment-list': DRFormEdit
	},

	data: () => ({
		user: {}
	}),
	mounted(){
		$.request('onGetUser', {
			success: (user) =>
			{
				this.user = user;
			}
		});
	},
	methods: {
		onEditSend(appointment) {
		    let _parent = this;

            $.request('onCancelAgendamento', {
                method: 'POST',
                data: {
                    agendamento: appointment.id
                },
                success: function() {
                    const index = _parent.appointments.indexOf(appointment);
                    _parent.appointments.splice(index, 1);

                    console.log('Clicou no appointment', index, _parent.appointments);
                }
            });

		}
	}
}
</script>
