<template>
	<div class="dr-home col-12">
		<div class="wrapper home">
			<div class="wrapper-content">
				<div class="mouse-icon">
					<div class="mouse-icon-scroll"></div>
				</div>

				<div class="home-parallax parallax-items d-none d-xl-block">
					<img class="p1" src="/themes/drnahora/public/images/Planta.svg">
					<img class="p2" src="/themes/drnahora/public/images/Ilustracao.svg">
					<img class="p3" src="/themes/drnahora/public/images/Remedios.svg">
				</div>

				<dr-appointment-intro
					class="dr-home__intro"
					:dark="true"
					:appointments="appointments"
                    :onlineappointments="onlineappointments"
					:exams="exams"
					@select="onServiceSelect"
				/>

				<!-- Site Info -->
				<div class="row">
					<div class="col-12">
						<div class="cardinfo-list main-center">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="cardinfo-list-item">
										<h2 class="cardinfo-list-item-title">
											<span class="countdown" data-start="0" data-end="26">26</span>
											<span>Especialidades </span>
										</h2>
										<p class="cardinfo-list-item-excerpt">
											Disponibilizamos 26 especialidades, em diversas áreas da saúde, para que você tenha um atendimento completo, com profissionais qualificados.
										</p>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="cardinfo-list-item">
										<h2 class="cardinfo-list-item-title">
											<span class="countdown" data-start="0" data-end="112">112</span>
											<span>Médicos</span>
										</h2>
										<p class="cardinfo-list-item-excerpt">
											Nossos médicos possuem excelente qualificação e estão preparados para um atendimento humanizado, que prioriza a atenção aos detalhes e o seu bem-estar.
										</p>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="cardinfo-list-item">
										<h2 class="cardinfo-list-item-title">
											<span class="countdown" data-start="0" data-end="600">600</span>
											<span>Exames</span>
										</h2>
										<p class="cardinfo-list-item-excerpt">
											Realize diferentes tipos de exames (laboratoriais, de imagem e de coração) em um só lugar e acompanhe de perto como está a sua saúde.
										</p>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="cardinfo-list-item">
										<h2 class="cardinfo-list-item-title">
											<span class="countdown" data-start="0" data-end="2">2</span>
											<span>Unidades</span>
										</h2>
										<p class="cardinfo-list-item-excerpt">
											Nossas unidades estão preparadas para receber você e a sua família com toda a estrutura que você merece, com atendimento sem burocracia e de qualidade.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Try Service -->
				<div class="row">
					<div class="col-12">
						<div class="tryservice main-center">
							<div class="row">
								<div class="col-12 col-md-6">
									<img class="tryservice-illustration" src="/themes/drnahora/public/images/illustration-2x-01.png" alt="Médicos na frente do computador">
								</div>
								<div class="col-12 col-md-4">
									<article class="tryservice-post">
										<p class="section-label d-none d-sm-block">Médicos</p>
										<h1 class="section-title">Seja um <br>Dr. na Hora</h1>
										<p class="section-excerpt">
											Nós prezamos pela excelência do atendimento e por profissionais qualificados, capazes de acolherem nossos pacientes com atenção e cuidado. Participe da nossa equipe e ajude-nos a oferecer saúde especializada de qualidade para toda a população.
										</p>
										<dr-button @click="$router.push({ name: 'inscricao' })" theme="accent" :filled="true" size="sm">
											Seja um médico Dr. na Hora
										</dr-button>
									</article>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Testimonials -->
				<div class="row">
					<div class="col-12">
						<div class="testimonials">
							<p class="section-label">Depoimentos</p>
							<h2 class="section-title">Opiniões dos nossos<br>clientes</h2>

							<div class="testimonials-slides">
								<div class="testimonials-slides-item" v-for="d in testimonies">
									<h3 class="testimonials-slides-item-name">{{d.nome}}</h3>
									<p class="testimonials-slides-item-age">{{d.idade}} anos - {{d.profissao}}</p>
									<p class="testimonials-slides-item-content">{{d.depoimento}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row" v-if="unities.length > 0">
					<dr-unities :slides="unities">
					</dr-unities>
				</div>

				<!-- Blog posts -->
				<div class="row">
					<div class="col-12">
						<div class="bloghome">
							<div class="main-center">
								<div class="row">
									<div class="col-12">
										<p class="section-label">Blog</p>
										<h3 class="section-title">Fique por dentro de notícias e artigos sobre saúde</h3>
									</div>
								</div>
								<div class="row">
									<div
										class="col-12 col-md-4"
										v-for="p in posts"
									>
									<router-link class="global-blog-post-item" :to="{ name: 'post', params: { id: p.id } }" title="">
											<span class="post-item-label">{{p.category.name}}</span>
											<span class="post-item-title">{{p.title}}</span>
											<img class="post-item-thumb" :src="p.thumbnail.path" alt="">
											<span class="post-item-footer clearfix">
												<span class="post-item-more float-left">
													Leia mais
												</span>
												<i class="post-item-icon float-right"></i>
											</span>
										</router-link>
									</div>
								</div>
								<div class="row">
									<div class="col-12 text-center">
										<dr-button @click="$router.push({ name: 'blog' })" theme="accent" :filled="true" size="sm">
											Ver todas as notícias
										</dr-button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import DRInputSearch from '../molecules/DRInputSearch.vue'
import DRButton from '../atoms/DRButton.vue'
import DRUnities from '../organisms/DRUnities.vue'
import DRAppointmentIntro from '../organisms/DRAppointmentIntro.vue'

export default {
	metaInfo:{
		title: 'Consultas e exames acessíveis em Campina Grande | Dr. na Hora',
		meta: [
			{
				property: 'description',
				content: 'Agende já sua consulta ou exame sem burocracia e tenha acesso a profissionais qualificados em uma estrutura de primeira, prontos para receber você. Confira!'
			}
		]
	},
	beforeRouteEnter(to, from, next) {
		// Update exames & consultas data
		$.request('onLoadConsultas', {
			success: (consultas) => {
				$.request('onLoadConsultasonline', {
					success: (consultasonline) => {
						$.request('onLoadExames', {
							success: (exames) => {
								// Render the page after requests
								next(vm => {
									consultas.forEach(consulta => {
										vm.appointments[consulta.id] = consulta.nome
									})
                                    consultasonline.forEach(consulta => {
										vm.onlineappointments[consulta.id] = consulta.nome
									})
									exames.forEach(exame => {
										vm.exams[exame.id] = exame.nome
									})
								})
							}
						})
					}
				})
			}
		})
	},

	components: {
		'dr-input-search': DRInputSearch,
		'dr-button': DRButton,
		'dr-unities': DRUnities,
		'dr-appointment-intro': DRAppointmentIntro
	},

	data: () => ({
		appointments: {},
        onlineappointments: {},
		exams: {},
		unities: [],
		posts: [],
		testimonies: [],
		flag: false
	}),

	mounted() {
		$.request('onLoadUnidades', {
			success: unities => {
				unities.forEach(unit => {
					this.unities.push({
						title: unit.name,
						address: unit.endereco,
						coords: { lat: +unit.eixo_x, lng: +unit.eixo_y },
						thumbnail: unit.imagem ? unit.imagem.path : '',
						availability: [
							unit.horario_atendimento,
						]
					})
				})
			}
		})

		$.request('onGetDepoimentos', {
			success: testimonies => {
				this.testimonies = testimonies.slice(0, 5)
				this.$nextTick(() => {
					this.onTestimoniesInit()
				})
			}
		})

		$.request('onLoadPosts', {
			success: posts => {
				this.posts = posts.slice(0, 3)
			}
		})

		document.addEventListener('scroll', this.onScroll)
	},

	destroyed() {
		document.removeEventListener('scroll', this.onScroll)
	},

	methods: {
		onServiceSearch(keyword) {
			$.request('onGetServices', {
				data: {
					keyword: keyword
				},
				success: services => {
					this.services = {}

					services.forEach(service => {
						this.services[service.id] = service.nome
					})
				}
			})
		},

		onServiceSelect(data) {
			this.$router.push({
				name: 'schedule',
				params: {type: data.service, servico_id: data.key }
			})
		},

		onScroll(e) {
			var offsetTop = $('.cardinfo-list').offset().top

			if ($(document.scrollingElement).scrollTop() >= (offsetTop - 200) && this.flag == false) {
				this.flag = true

				$('.countdown').each(function() {
					var count = $(this),
						start = 0,
						end = parseInt($(this).data('end'))

					var counter = function() {
						if(start < end) {
							start += 1
							count.html(start)

							setTimeout(counter, 10)
						}
					}

					counter()
				})
			}
		},

		onTestimoniesInit() {
			$('.testimonials-slides').slick({
				arrows: false,
				slidesToShow: 1,
				slidesToScroll: 1,
				dots: true,
				centerMode: true,
				centerPadding: '300px',
				responsive: [{
					breakpoint: 1200,
					settings: {
						centerPadding: '200px',
					}
				}, {
					breakpoint: 992,
					settings: {
						centerPadding: '150px',
					}
				}, {
					breakpoint: 768,
					settings: {
						centerPadding: '100px',
					}
				}, {
					breakpoint: 576,
					settings: {
						centerPadding: '25px',
					}
				}]
			})
		}
	}
}
</script>

<style lang="scss">
.dr-home{
	&__intro{
		margin: 80px 0;
	}
	&__search{
		margin: 30px 0;
	}
	&__tags{
		margin-bottom: 100px;
	}
}
</style>
