<template>
	<div class="col-12">
		<!-- Wrapper -->
		<div class="wrapper inscricao">
			<div class="row">
				<div class="col-12">
					<div class="main-center">
						<div class="row">
							<div class="col-md-4 offset-md-1">
								<div class="v-align">
									<div class="v-align-middle">
										<h1 class="section-title">Seja um Dr. na Hora!</h1>

										<p class="section-excerpt">Aproveite as horas vagas em sua agenda e descubra um jeito inteligente de atender seus pacientes, sem se preocupar com burocracia, contratação de funcionários e aluguel.</p>
										<a class="global-link" href="javascript:void(0);" title="Tenho Interesse" data-toggle="modal" data-target="#contato-modal">Tenho Interesse</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 offset-md-1">
								<img class="inscricao-thumb" src="/themes/drnahora/public/samples/inscricao.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="inscricao-testimonials">
						<p class="section-label">Depoimentos</p>
						<h2 class="section-title">Opiniões dos nossos<br>médicos</h2>
						<div class="inscricao-testimonials-slides">
							<button class="inscricao-testimonials-slides-nav prev">
								<span class="icon"></span>
							</button>
							<button class="inscricao-testimonials-slides-nav next">
								<span class="icon"></span>
							</button>
							<div class="inscricao-testimonials-slides-dots"></div>
							<div class="inscricao-testimonials-slides-items">
								<div class="inscricao-testimonials-slides-item" v-for="(depoimento, index) in depoimentos">
									<button class="slides-item-icon" data-toggle="modal" data-target="#video-modal" :data-video-id="depoimento.url">
										<span class="icon"></span>
									</button>
									<img :src="depoimento.background.path" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="video-modal" class="modal" tabindex="-1">
				<iframe class="dr-inscricao__embed" id="modal-video-embed" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="inscricao-advantages main-center">
						<div class="row">
							<div class="col-12">
								<h1 class="section-title">Quais são as vantagens?</h1>
								<p class="section-excerpt">Trabalhar em uma clínica popular significa ter disponível para você uma equipe de apoio e estrutura prontos para o seu suporta.</p>
							</div>
							<div class="col-md-4">
								<div class="global-vert-item">
									<i class="vert-item-icon lab"></i>
									<span class="vert-item-label">Agendamento 24h online</span>
									<span class="vert-item-excerpt">
										O nosso agendamento é feito através do nosso site e a qualquer momento o seu paciente pode marcar a consulta, de qualquer lugar.
									</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="global-vert-item">
									<i class="vert-item-icon lab"></i>
									<span class="vert-item-label">Pré e pós atendimento</span>
									<span class="vert-item-excerpt">								O nosso suporte a você também passa pela pré-consulta, com atendimentos como aferimento de pressão, e pós-consulta, com os exames/retorno ou nova consulta.
									</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="global-vert-item">
									<i class="vert-item-icon lab"></i>
									<span class="vert-item-label">Estrutura de primeira</span>
									<span class="vert-item-excerpt">								A estrutura da Clínica Popular Dr. na Hora está preparada para receber você e dar toda assistência para trabalhar sem nenhuma preocupação.
									</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="global-vert-item">
									<i class="vert-item-icon lab"></i>
									<span class="vert-item-label">Gestão da sua agenda</span>
									<span class="vert-item-excerpt">								Você não vai precisar se preocupar com a organização das suas consultas e todo esse trabalho fica por nossa conta.
									</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="global-vert-item">
									<i class="vert-item-icon lab"></i>
									<span class="vert-item-label">Prontuário eletrônico</span>
									<span class="vert-item-excerpt">								Todo o prontuário dos pacientes é guardado eletronicamente e você não precisará se preocupar com informações que podem ser perdidas.
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row d-none d-sm-block">
				<div class="col-12">
					<div class="inscricao-footer">
						<div class="main-center">
							<a class="inscricao-link" href="javascript:void(0);" title="Tenho interesse" data-toggle="modal" data-target="#contato-modal">
								<span class="v-align">
									<span class="v-align-middle">
										Tenho interesse<br>de ser Dr. na Hora
									</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="contato-modal">
			<div class="modal-dialog modal-md modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h1 class="section-title global-title">Tenho interesse</h1>
						<form class="contato-form">
							<dr-input-text
								placeholder="Nome"
								name="name"
								v-validate="'required|min:4'"
								v-model="formData.nome"
								:error="errors.first('name')"
							/>
							<dr-input-text
								placeholder="Email"
								type="email"
								name="email"
								v-validate="'required|email|min:5'"
								v-model="formData.email"
								:error="errors.first('email')"
							/>
							<dr-input-text
								placeholder="Telefone"
								:mask="{phone : true, phoneRegionCode : 'br'}"
								name="phone"
								v-validate="'required'"
								v-model="formData.telefone"
								:error="errors.first('phone')"
							/>
							<dr-input-text
								placeholder="Mensagem"
								name="message"
								v-validate="'required'"
								v-model="formData.mensagem"
								:error="errors.first('message')"
							/>
							<div class="form-group text-right mb0">
								<button class="global-submit" @click="register">Enviar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="success-modal" >
			<div class="modal-dialog modal-md modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<i class="icon-check"></i>
						<div class="modal-success">Contato enviado<br>com sucesso</div>
						<div class="modal-ok" @click="hideModal">OK</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import DRInputText from '../molecules/DRInputText.vue'

export default{
	components: {
		'dr-input-text': DRInputText
	},

	metaInfo:{
		title: 'Seja um Dr. na Hora | Faça parte da nossa equipe',
		meta: [
			{
				property: 'description',
				content: 'Participe da nossa equipe e ajude-nos a oferecer saúde especializada de qualidade para toda a população. Saiba mais informações em nosso site.'
			}
		]
	},

	data: () => ({
		formData: {},
		depoimentos: {},
		exames: {}
	}),
	beforeRouteEnter(to, from, next){
		$.request('onLoadDepoimentos', {
			success: (depoimentos) =>
			$.request('onLoadExames', {
				success: (exames) =>
				next(vm => {
					vm.exames = exames.slice(0, 6)
					vm.depoimentos = depoimentos
					vm.$nextTick(() => {
						vm.initSlick()
					})
				})
			})
		})
	},

	mounted() {
		$("#video-modal").on("show.bs.modal", function(e) {
			$("#modal-video-embed").attr("src", "https://www.youtube.com/embed/" + $(e.relatedTarget).data("video-id") + "?rel=0");
		});

		$("#video-modal").on("hide.bs.modal", function(e) {
			$("#modal-video-embed").attr("src", "");
		});
	},

	methods: {
		initSlick() {
			$('.inscricao-testimonials-slides-items').slick({
				fade: true,
				infinite: false,
				dots: true,
				appendDots: '.inscricao-testimonials-slides-dots',
				prevArrow: '.inscricao-testimonials-slides-nav.prev',
				nextArrow: '.inscricao-testimonials-slides-nav.next'
			});
		},

		register(event){
			event.preventDefault();
			this.$validator.validate()
				.then(success => {
					if (success)
						$.request('onRegisterDoctor', {
							data: {form: this.formData},
							success: (data) => {
								if(data.result == 'true') {
									$('#contato-modal').modal('hide')
									$('#success-modal').modal()
								}
							}
						})
				})
		},

		hideModal(event){
			$('#success-modal').modal('hide');
		},
	},
}
</script>

<style lang="scss">
.dr-inscricao{
	&__embed{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
</style>
