<template>
	<div class="dr-post col-12">
		<!-- Wrapper -->
		<article class="wrapper post">
			<div class="row">
				<div class="col-12">
					<header class="post-header">
						<div class="post-header-content">
							<div class="v-align">
								<div class="v-align-middle">
									<p class="section-label">{{post.category.name}}</p>
									<h1 class="section-title">{{post.title}}</h1>
								</div>
							</div>
						</div>
						<div class="post-header-gradient"></div>
						<img :src="post.thumbnail ? post.thumbnail.path : ''" alt="">
					</header>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="post-content" v-html="post.content">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="post-related">
						<div class="main-center">
							<div class="row">
								<div class="col-12">
									<h2 class="section-title">Relacionados</h2>
								</div>
								<div class="col-md-4" v-for="r in related">
									<router-link class="global-blog-post-item" :to="{ name: 'post', params: { id: r.id } }" :title="r.title">
										<span class="post-item-label">{{r.category.title}}</span>
										<span class="post-item-title">{{r.title}}</span>
										<img class="post-item-thumb" :src="r.thumbnail ? r.thumbnail.path : ''" alt="">
										<span class="post-item-footer clearfix">
											<span class="post-item-more float-left">
												Leia mais
											</span>
											<i class="post-item-icon float-right"></i>
										</span>
									</router-link>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</template>

<script>
export default {
	beforeRouteEnter(to, from, next) {
		$.request('onGetPost', {
			data: {
				id: to.params.id
			},
			success: data => {
				next(vm => {
					vm.post = data.post
					vm.related = data.related
				})
			}
		})
	},

	beforeRouteUpdate(to, from, next) {
		$.request('onGetPost', {
			data: {
				id: to.params.id
			},
			success: data => {
				this.post = data.post
				this.related = data.related
				next()
			}
		})
	},

	data: () => ({
		post: {
			category: {},
		},
		related: []
	})
}
</script>

<style lang="scss">
.dr-post{
}
</style>
