<template>
	<dr-dashboard class="dr-schedule"
		:step="step"
		:action="action"
		:action-theme="step == 4 ? 'accent' : 'secondary'"
		:left="width > 990 || width <= 990 && (step == 1 || step == 4)"
		:leftDark="width > 990 || width <= 990 && step == 1"
		@previous="onPreviousClick"
		@next="onNextClick"
	>
		<transition slot="left" name="fade-slide" mode="out-in">
			<dr-greetings
				v-if="step == 4"
				key="review"
				title="Detalhes<br /> da consulta"
				action="Editar"
				@callback="step = 2"
			>
				<dr-appointment-review
					:speciality="services[appointment.service]"
					:date="appointment.date | date"
					:time="appointment.time"
					:doctor="doctors[appointment.doctor]"
				/>
			</dr-greetings>

			<dr-greetings
				v-else
				key="detail"
				:title="title"
				:text="text"
			>
			</dr-greetings>
		</transition>

		<div class="dr-schedule__steps" slot="right">
			<transition name="fade-slide" mode="out-in">
				<dr-appointment-type
					v-if="step == 1"
					@select="onTypeSelect"
				/>

				<dr-appointment-form
					v-else-if="step == 2"
					:type="appointment.type"
					:service.sync="appointment.service"
					:date.sync="appointment.date"
					:doctor.sync="appointment.doctor"
					:time.sync="appointment.time"
					:unit.sync="appointment.unit"
					:services="services"
					:doctors="doctors"
					:unities="unities"
					:availability="availability"
				/>

				<dr-login
					v-else-if="step == 3"
					@success="onLogin"
				/>

				<dr-appointment-payment
					v-else-if="step == 4"
					:total="payment.total | currency"
					:method.sync="payment.method"
				/>
			</transition>

			<transition name="fade">
				<dr-alert
					v-if="success"
					message="Consulta marcada com sucesso!"
					@confirm="onComplete"
					@close="onComplete"
				>
				</dr-alert>
			</transition>
		</div>
	</dr-dashboard>
</template>

<script>
import DRDashboard from '../templates/DRDashboard.vue'
import DRGreetings from '../organisms/DRGreetings.vue'
import DRAppointmentType from '../organisms/DRAppointmentType.vue'
import DRAppointmentForm from '../organisms/DRAppointmentForm.vue'
import DRAppointmentPayment from '../organisms/DRAppointmentPayment.vue'
import DRAppointmentReview from '../organisms/DRAppointmentReview.vue'
import DRLogin from '../organisms/DRLogin.vue'
import DRAlert from '../molecules/DRAlert.vue'
import currency from '../../filters/currency'
import date from '../../filters/date'
import moment from 'moment'

export default {
	components: {
		'dr-greetings': DRGreetings,
		'dr-dashboard': DRDashboard,
		'dr-appointment-type': DRAppointmentType,
		'dr-appointment-form': DRAppointmentForm,
		'dr-appointment-payment': DRAppointmentPayment,
		'dr-appointment-review': DRAppointmentReview,
		'dr-login': DRLogin,
		'dr-alert': DRAlert
	},

	filters: {
		'currency': currency,
		'date': date,
	},
	
	beforeRouteEnter(to, from, next) {
		next(vm => {
			if (to.params.type == 'service')
				vm.appointment.service = to.params.id

			if (to.params.type == 'doctor') {
				vm.appointment.doctor = to.params.id
				vm.step = 2
			}

			vm.appointment.type = to.params.type
		})
	},

	watch: {
		// On type change
		'appointment.type': function (value) {
			if (value == 'doctor') {
				$.request('onGetDoctors', {
					success: doctors => {
						doctors.forEach(doctor => {
							this.doctors[doctor.id] = doctor.name
						})
					}
				})

				this.appointment.service = null
			} else {
				$.request('onGetServices', {
					success: services => {
						services.map(service => {
							this.services[service.id] = service.nome
						})
					}
				})

				this.appointment.doctor = null
			}
		},

		// On doctor change
		'appointment.doctor': function (value) {
			// Reset services
			if (this.appointment.type == 'doctor')
				this.services = {}

			// Reset available unities
			this.unities = {}
			this.unit = null

			// Prevent empty service lookup
			if (!value)
				return

			// Look for doctor
			$.request('onGetDoctor', {
				data: {
					id: value
				},
				success: doctor => {
					if (this.appointment.type == 'doctor') {
						this.title = doctor.name
						this.text = doctor.formacao

						// Update available services
						doctor.servicos.map(service => {
							this.services[service.id] = service.nome
						})
					}

					// Update available unities
					doctor.unidades.map(unit => {
						this.unities[unit.id] = unit.name
					})

					this.searchAvailability()
				}
			})
		},

		// On service change
		'appointment.service': function (value) {
			// Reset doctors
			if (this.appointment.type == 'service')
				this.doctors = {}

			// Prevent empty doctor lookup
			if (!value)
				return

			// Look for service
			$.request('onGetService', {
				data: {
					id: value
				},
				success: service => {
					this.payment.total = service.valor

					if (this.appointment.type == 'service') {
						this.title = service.nome
						this.text = service.orientacoes_gerais

						// Update available doctors
						service.medicos.forEach(doctor => {
							this.doctors[doctor.id] = doctor.name
						})
					}

					this.searchAvailability()
				}
			})
		},

		'appointment.unit': function (value) {
			if (!value)
				return

			this.searchAvailability()
		},

		'appointment.date': function (value) {
			if (!value)
				return

			this.searchAvailability()
		}
	},

	mounted() {
		window.addEventListener('resize', event =>
			this.width = window.outerWidth
		)
		this.width = window.outerWidth

		$.request('onGetUser', {
			success: (user) => this.user = user
		})
	},

	computed: {
		action() {
			if (
				this.step == 2 &&
				this.appointment.doctor &&
				this.appointment.date &&
				this.appointment.time &&
				this.appointment.service
			)
				return 'Confirmar consulta'

			if (this.step == 4)
				return 'Marcar consulta'

			return ''
		},
	},

	data: () => ({
		title: '',
		text: '',
		success: false,
		width: 0,
		step: 1,
		user: null,
		appointment: {
			type: null,
			service: null,
			date: null,
			doctor: null,
			unit: null,
			time: null, // horario
			day: null // codigoHorario
		},
		payment: {
			method: 'pagseguro', //upfront
			total: null
		},
		services: {},
		doctors: {},
		unities: {},
		availability: []
	}),

	methods: {
		onPreviousClick(step) {
			if (step == 4 && this.user)
				return this.step = 2

			this.step = step - 1
		},

		onNextClick(step) {
			// Validate form
			if (
				step == 2 && (
					!this.appointment.doctor ||
					!this.appointment.date ||
					!this.appointment.time ||
					!this.appointment.service
				)
            )
			    return


			if (step == 2 && this.user)
				return this.step = 4

			// Do checkout
			if (step == 4){
			    this.appointment.day = '2018-12-18'
                if(this.payment.method == 'upfront'){
                    this.appointment.status = 'r'
                }else{
                    this.appointment.status = 'p'
                }
                $.request('onRegisterAgendamento', {
                    data: this.appointment,
                    success: (data) =>
                        {
                            console.log(data)
                        }
                });
                return this.success = true
            }

			this.step = step + 1
		},

		onTypeSelect(type) {
			this.appointment.type = type
			this.step = 2
		},

		onLogin(user) {
			this.user = user
			this.step = 4
		},

		onComplete() {
			this.$router.push({ name: 'dashboard-scheduled' })
		},

		searchAvailability() {
			// this.appointment.time = null

			if (
				!this.appointment.doctor ||
				!this.appointment.unit ||
				!this.appointment.date
			)
				return

			$.request('onGetAgenda', {
				data: {
					medico: this.appointment.doctor,
					unidade: this.appointment.unit,
					date: moment(this.appointment.date).format('YYYY-MM-DD')
				},
				success: horarios => {
					this.availability = horarios.map(availability => {
						this.appointment.day = availability.codigoHorario

						return availability.horario
					})
				}
			})
		}
	}
}
</script>

<style lang="scss">
.dr-schedule{
	&__steps{
		width: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
	@include grid-media($desktop-grid) {
		display: flex;
		.dr-dashboard{
			&__column{
				width: 50%;
				overflow: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				&.dr-dark{
					background: $c-primary;
				}
			}
			&__wrapper{
				max-width: 428px;
				width: 100%;
				display: flex;
				height: 100%;
				padding: 88px 0;
			}
		}
	}

	.dr-dashboard{
		&__wrapper{
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	@include grid-media($desktop-grid) {
		.dr-dashboard{
			&__wrapper{
				padding-top: 88px;
				padding-bottom: 88px;
			}
		}
	}
}
</style>
