<div class="col-12">
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content main-center">
            <div class="row">
                <div class="col-12 col-md-4">
                    <a class="footer-logo" href="/index.html" title="Doutor na Hora">Doutor na Hora</a>
                </div>
                <div class="col-12 d-block d-sm-none">
                    <div class="footer-contact">
                        <div class="footer-contact-title">Contato</div>

                        <div class="footer-contact-location">
                            <ul class="global-dropdown-list footer-contact-list">
                                <li class="dropdown-list-item selected">Localização: <span>João Pessoa</span> <i class="dropdown-arrow"></i></li>
                                <ul class="dropdown-sublist">
                                    <li class="dropdown-sublist-item" data-target="joaopessoa">
                                        <a href="javascript:void(0)" title="João Pessoa">João Pessoa</a>
                                    </li>
                                    <li class="dropdown-sublist-item" data-target="campinagrande">
                                        <a href="javascript:void(0)" title="Campina Grande">Campina Grande</a>
                                    </li>
                                </ul>
                            </ul>
                        </div>

                        <div class="footer-contact-phones">
                            <div class="footer-contact-phone active joaopessoa">
                                83 9 8833.7564<br>83 9 8833.7564
                            </div>
                            <div class="footer-contact-phone campinagrande">
                                83 9 9616.2137<br>83 9 3021.6376
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <nav class="footer-social">
                        <ul class="footer-social-list">
                            <li class="footer-social-list-item">
                                <a class="facebook" target="_blank" href="" title="Facebook" rel="nofollow">Facebook</a>
                            </li>
                            <li class="footer-social-list-item">
                                <a class="instagram" target="_blank" href="" title="Instagram" rel="nofollow">Instagram</a>
                            </li>
                            <li class="footer-social-list-item">
                                <a class="twitter" target="_blank" href="" title="Twitter" rel="nofollow">Twitter</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-12 col-md-4">
                    <a class="footer-copyright" target="_blank" href="http://www.qualitare.com/" title="Qualitare" rel="nofollow">Qualitare</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>
</div>
