<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<!-- Header -->
			<header class="header {%if this.page.id != 'home' %}wbg{% endif %}">
				<div class="header-content main-center clearfix">
					<a class="header-logo" href="{{'home'|page}}" title="Doutor na Hora">
						Doutor na Hora
					</a>

					<button class="header-menu-button d-block d-xl-none">
						<i class="icon"></i>
					</button>

					<nav class="header-menu">
						<ul class="header-menu-list">
							<li class="header-menu-list-item {% if this.page.id == 'home' %} active {% endif %}">
								<a href="/app/#/home" title="Home">Home <span class="header-menu-list-item-border"></span></a>
							</li>
							<li class="header-menu-list-item {% if this.page.id == 'consultas' %} active {% endif %}">
								<a href="/app/#/consultas" title="Consultas">Consultas <span class="header-menu-list-item-border"></span></a>
							</li>
							<li class="header-menu-list-item {% if this.page.id == 'exames' %} active {% endif %}">
								<a href="/app/#/exames" title="Exames">Exames <span class="header-menu-list-item-border"></span></a>
							</li>
							<li class="header-menu-list-item {% if this.page.id == 'medicos' %} active {% endif %}">
								<a href="/app/#/medicos" title="Nossos Médicos">Nossos Médicos <span class="header-menu-list-item-border"></span></a>
							</li>
							<li class="header-menu-list-item {% if this.page.id == 'inscricao' %} active {% endif %}">
								<a href="/app/#/inscricao" title="Seja um Dr. na Hora">Seja um Dr. na Hora <span class="header-menu-list-item-border"></span></a>
							</li>
							<li class="header-menu-list-item {% if this.page.id == 'blog' %} active {% endif %}">
								<a href="/app/#/blog" title="Blog">Blog <span class="header-menu-list-item-border"></span></a>
							</li>
							<li class="header-menu-list-item {% if this.page.id == 'contato' %} active {% endif %}">
								<a href="/app/#/contato" title="Contato">Contato <span class="header-menu-list-item-border"></span></a>
							</li>
							<li class="header-menu-list-item {% if this.page.id == 'paciente-historico' %} active {% endif %}">
								{% if user %}
									<a href="/app/#/dashboard" class="header-menu-avatar" style="background-image: url({{ user.avatar ? user.avatar.path : '' }})">
									</a>
								{% else %}
									<a href="/app/#/auth" title="Área do Paciente">
										<img class="header-menu-list-item-icon" src="{{'/public/samples/user-icon-2x.png'|theme}}" alt=""> Área do Paciente
										<span class="header-menu-list-item-border"></span>
									</a>
								{% endif %}
							</li>
						</ul>
						<div class="header-menu-list-border"></div>
					</nav>
				</div>
			</header>
		</div>
