<template>
	<div class="dr-appointment-intro">
		<div class="dr-appointment-intro__container">
			<div class="dr-appointment-intro__wrapper">
				<div
					:class="{ 'dr-dark': dark }"
				>
					<dr-title
						v-html="title"
						class="dr-appointment-intro__title"
						:class="{ 'dr-dark': dark }"
						:dark="dark"
					/>

					<dr-text
						class="dr-appointment-intro__text"
						v-html="text"
						:dark="dark"
					/>
				</div>

				<transition name="fade" mode="out-in">
					<dr-toggle-service
						v-model="service"
						v-if="!service"
						class="dr-appointment-intro__service"
					/>

					<dr-input-autocomplete
						v-if="service"
						class="dr-appointment-intro__autocomplete"
						:options="options"
						:service="service"
						@input="$emit('select', $event)"
						@close="service = null"
					/>
				</transition>

				<dr-pick-speciality
					v-if="false"
					class="dr-appointment-intro__speciality"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import DRTitle from '@/components/atoms/DRTitle.vue'
import DRText from '@/components/atoms/DRText.vue'
import DRToggleService from '@/components/molecules/DRToggleService.vue'
import DRPickSpeciality from '@/components/molecules/DRPickSpeciality.vue'
import DRInputAutocomplete from '@/components/molecules/DRInputAutocomplete.vue'

export default {
	components: {
		'dr-title': DRTitle,
		'dr-text': DRText,
		'dr-toggle-service': DRToggleService,
		'dr-input-autocomplete': DRInputAutocomplete,
		'dr-pick-speciality': DRPickSpeciality,
	},

	props: {
		title: {
			type: String,
			default: 'Do que sua saúde precisa?'
		},
		text: {
			type: String,
			default: 'Selecione uma opção abaixo e marque o melhor dia/horário para cuidarmos de você'
		},
		dark: {
			type: Boolean,
			default: false
		},
		appointments: {
			type: Object,
			default: undefined
		},
        onlineappointments: {
            type: Object,
            default: undefined
        },

		exams: {
			type: Object,
			default: undefined
		}
	},

	computed: {
		options() {
		    if(this.service === 'consultas')
		        return   this.appointments
		    if(this.service === 'consultasonline')
                return   this.onlineappointments

			return this.exams
		}
	},

	data: () => ({
		service: null
	})
}
</script>

<style lang="scss">
.dr-appointment-intro{
	&__container{
		text-align: center;
		@include outer-container;
	}
	&__wrapper{
		margin: auto;
	}
	&__text{
		margin: 30px 0;
	}

	@include grid-media($desktop-grid) {
		.dr-appointment-intro{
			&__wrapper{
				max-width: 550px;
			}
		}
	}

	@include grid-media($smartphone-grid) {
		.dr-input-autocomplete{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: $c-lightgrey;
			display: flex;
			flex-flow: column;
			z-index: 200;
			&__dropdown{
				position: static;
				flex: 1;
				max-height: inherit;
			}
		}
	}
}
</style>
