<template>
	<div class="dr-appointment-form" :class="[`dr-appointment-form--${type}`]">
		<transition name="fade">
			<dr-input-select
				v-if="type == 'service' || type == 'doctor' && doctor && date"
				label="Serviço"
				placeholder="Selecione"
				class="dr-appointment-form__service"
				:outlined="true"
				:value="service"
				:options="services"
				@input="$emit('update:service', $event)"
			/>
		</transition>
		<transition name="fade">
			<dr-input-date
				label="Data"
				placeholder="Selecione"
				class="dr-appointment-form__date"
				:value="date"
				:outlined="true"
				@input="$emit('update:date', $event)"
			/>
		</transition>
		<transition name="fade">
			<dr-input-select
				v-if="type == 'doctor' || type == 'service' && service && date"
				label="Médicos Disponíveis"
				placeholder="Selecione"
				class="dr-appointment-form__doctor"
				:outlined="true"
				:value="doctor"
				:options="doctors"
				@input="$emit('update:doctor', $event)"
			/>
		</transition>
		<transition name="fade">
			<dr-input-select
				v-if="type == 'doctor' && doctor || type == 'service' && service && date && doctor"
				label="Unidades Disponíveis"
				placeholder="Selecione"
				class="dr-appointment-form__unit"
				:outlined="true"
				:value="unit"
				:options="unities"
				@input="$emit('update:unit', $event)"
			/>
		</transition>
		<transition name="fade">
			<dr-input-time
				v-if="availability.length && (type == 'service' && doctor || type == 'doctor' && date && doctor)"
				label="Selecione um horário"
				class="dr-appointment-form__time"
				:value="time"
				:options="availability"
				@input="$emit('update:time', $event)"
			/>
		</transition>
	</div>
</template>

<script>
import DRInputSelect from '../molecules/DRInputSelect.vue'
import DRInputDate from '../molecules/DRInputDate.vue'
import DRInputList from '../molecules/DRInputList.vue'
import DRInputTime from '../molecules/DRInputTime.vue'

export default {
	components: {
		'dr-input-select': DRInputSelect,
		'dr-input-date': DRInputDate,
		'dr-input-list': DRInputList,
		'dr-input-time': DRInputTime,
	},

	mounted() {
		window.addEventListener('resize', event =>
			this.width = window.outerWidth
		)
		this.width = window.outerWidth
	},

	props: {
		service: {
			type: String|Number,
			default: null
		},
		services: {
			type: Object,
			default: undefined
		},
		date: {
			type: Date,
			default: null
		},
		doctor: {
			type: String|Number,
			default: null
		},
		doctors: {
			type: Object,
			default: undefined
		},
		unit: {
			type: String|Number,
				default: null
		},
		unities: {
			type: Object,
			default: undefined
		},
		time: {
			type: String|Number,
			default: null
		},
		availability: {
			type: Array,
			default: undefined
		},
		type: {
			type: String,
			default: 'date'
		}
	},

	data: () => ({
		width: 0
	})
}
</script>

<style lang="scss">
.dr-appointment-form{
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	@include grid-media($smartphone-grid) {
		.dr-input-select,
		.dr-input-date{
			margin-left: -20px;
			margin-right: -20px;
			&__label{
				margin-left: 20px;
				margin-right: 20px;
			}
			&__wrapper{
				border-left: 0 !important;
				border-right: 0 !important;
			}
		}
	}

	&__service,
	&__date,
	&__doctor,
	&__time,
	&__unit{
		margin: 0 0 20px;
	}

	&--date{
		.dr-appointment-form{
		}
	}

	&--doctor{
		.dr-appointment-form{
			&__service{
				order: 4;
			}
			&__date{
				order: 3;
			}
			&__doctor{
				order: 1;
			}
			&__time{
				order: 5;
			}
			&__unit{
				order: 2;
			}

		}
	}
}
</style>
