<template>
	<div class="dr-greetings">
		<header class="dr-greetings__header">
			<dr-title v-html="title">
			</dr-title>

			<dr-text v-html="text" type="body">
			</dr-text>

			<button class="dr-greetings__action" @click="$emit('callback')" v-if="action">
				{{ action }}
			</button>
		</header>

		<div class="dr-greetings__body">
			<slot>
			</slot>
		</div>

		<footer class="dr-greetings__footer">
			<dr-input-search label="Pesquise por especialidade" @search="onSearch">
			</dr-input-search>
		</footer>
	</div>
</template>

<script>
import DRTitle from '../atoms/DRTitle.vue'
import DRText from '../atoms/DRText.vue'
import DRInputSearch from '../molecules/DRInputSearch.vue'

export default {
	components: {
		'dr-title': DRTitle,
		'dr-text': DRText,
		'dr-input-search': DRInputSearch,
	},

	props: {
		title: {
			type: String,
			default: 'Lorem ipsum sit amet'
		},
		text: {
			type: String,
			default: ''
		},
		action: {
			type: String,
			default: ''
		}
	},

	methods: {
		onSearch(keyword) {
			this.$emit('search', keyword)
		}
	}
}
</script>

<style lang="scss">
.dr-greetings{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 100%;
	&__header{
		margin-bottom: 32px;
		position: relative;
	}
	&__body{
	}
	&__footer{
		display: none;
	}
	&__action{
		background: transparent;
		border: 0;
		color: $c-accent;
		font-family: Dosis;
		font-size: 16px;
		position: absolute;
		bottom: 0;
		right: 0;
		font-weight: 600;
	}
	@include grid-media($desktop-grid) {
		.dr-greetings{
			&__footer{
				border-top: 1px solid rgba(white, .2);
				margin-top: 32px;
				padding-top: 32px;
				display: block;
			}
		}
	}
}
</style>
