<template>
	<div class="dr-header container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- Header -->
				<header class="header" :class="{'wbg': $route.name != 'home'}">
					<div class="header-content main-center clearfix">
						<router-link class="header-logo" :to="{ name: 'home' }" title="Doutor na Hora">
							Doutor na Hora
						</router-link>

						<button class="header-menu-button d-block d-xl-none">
							<i class="icon"></i>
						</button>

						<nav class="header-menu">
							<ul class="header-menu-list">
								<li class="header-menu-list-item" :class="{'is-active': $route.name == 'home'}">
									<router-link :to="{ name: 'home' }" title="Home">Home <span class="header-menu-list-item-border"></span></router-link>
								</li>
								<li class="header-menu-list-item" :class="{'is-active': $route.name == 'consultas'}">
									<router-link :to="{ name: 'consultas' }" title="Consultas">Consultas <span class="header-menu-list-item-border"></span></router-link>
								</li>
								<li class="header-menu-list-item" :class="{'is-active': $route.name == 'exames'}">
									<router-link :to="{ name: 'exames' }" title="Exames">Exames <span class="header-menu-list-item-border"></span></router-link>
								</li>
								<li class="header-menu-list-item" :class="{'is-active': $route.name == 'medicos'}">
									<router-link :to="{ name: 'medicos' }" title="Nossos Médicos">Nossos Médicos <span class="header-menu-list-item-border"></span></router-link>
								</li>
								<li class="header-menu-list-item" :class="{'is-active': $route.name == 'inscricao'}">
									<router-link :to="{ name: 'inscricao' }" href="/app/#/inscricao" title="Seja um Dr. na Hora">Seja um Dr. na Hora <span class="header-menu-list-item-border"></span></router-link>
								</li>
								<li class="header-menu-list-item" :class="{'is-active': $route.name == 'blog'}">
									<router-link :to="{ name: 'blog' }" title="Blog">Blog <span class="header-menu-list-item-border"></span></router-link>
								</li>
								<li class="header-menu-list-item" :class="{'is-active': $route.name == 'contato'}">
									<router-link :to="{ name: 'contato' }" title="Contato">Contato <span class="header-menu-list-item-border"></span></router-link>
								</li>
								<li class="header-menu-list-item" :class="{'is-active': $route.name == 'dashboard'}">
									<router-link :to="{ name: 'dashboard-scheduled' }" class="header-menu-avatar" :style="{ 'background-image': `url(${user.avatar ? user.avatar.path : ''})` }" v-if="user">
									</router-link>
									<router-link :to="{ name: 'auth-login' }" title="Área do Paciente" v-else>
										<img class="header-menu-list-item-icon" src="/themes/drnahora/public/samples/user-icon-2x.png" alt=""> Área do Paciente
										<span class="header-menu-list-item-border"></span>
									</router-link>
								</li>
							</ul>
							<div class="header-menu-list-border"></div>
						</nav>
					</div>
				</header>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		user: {
			type: Object,
			default: undefined
		}
	},

	watch: {
		'$route': () => {
			$('.header-menu').removeClass('active')
		}
	},

	mounted() {
		$('.header-menu-button').on('click', function() {
			$('.header-menu').toggleClass('active')
		})
	}
}
</script>

<style lang="scss">
</style>
