<template>
	<div
		class="dr-avatar"
		:class="[
			`dr-avatar--${size}`
		]"
		:style="{ 'background-image': `url(${value})` }"
	>
	</div>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: ''
		},
		size: {
			type: String,
			default: 'md'
		}
	}
}
</script>

<style lang="scss">
.dr-avatar{
	background-color: $c-primary;
	background-position: center;
	background-size: cover;

	// Size
	&--sm{
		width: 40px;
		height: 40px;
		border-radius: 40px;
	}
	&--md{
		width: 40px;
		height: 40px;
		border-radius: 40px;
	}
	&--lg{
		width: 64px;
		height: 64px;
		border-radius: 64px;
	}
}
</style>
