<template>
	<button
		class="dr-button-icon"
		:class="[
			`dr-button-icon--${theme}`,
			`dr-button-icon--${size}`,
			{
				'is-rounded': rounded,
				'is-filled': filled,
			}
		]"
		@click="$emit('click', $event)"
	>
		<span class="icon" :class="[`icon-${name}`]"></span>
	</button>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			default: ''
		},
		theme: {
			type: String,
			default: 'default' // default|primary|secondary|accent
		},
		size: {
			type: String,
			default: 'md', // sm|md|lg
		},
		filled: {
			type: Boolean,
			default: false
		},
		rounded: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss">
.dr-button-icon{
	border-radius: 7px;
	background-color: transparent;
	cursor: pointer;
	border: 2px solid transparent;
	font-size: 18px;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	// Theme
	&--default{
		color: black;
		background-color: transparent;
		&.is-filled{
			color: white;
			background-color: black;
		}
	}
	&--primary{
		color: $c-primary;
		border-color: $c-primary;
		&.is-filled{
			color: white;
			background-color: $c-primary;
		}
	}
	&--secondary{
		color: $c-secondary;
		border-color: $c-secondary;
		&.is-filled{
			color: white;
			background-color: $c-secondary;
		}
	}
	&--accent{
		color: $c-accent;
		border-color: $c-accent;
		&.is-filled{
			color: white;
			background-color: $c-accent;
		}
	}

	// Size
	&--sm{
		width: 24px;
		height: 24px;
		font-size: 10px;
		.icon{
			line-height: 200%;
		}
	}
	&--md{
		width: 48px;
		height: 48px;
		font-size: 18px;
	}
	&--lg{
		width: 60px;
		height: 60px;
		font-size: 22px;
	}

	&.is-rounded{
		border-radius: 9999px;
	}
}
</style>
