<template>
	<div class="dr-calendar">
		<v-date-picker
			:value="value"
			:attributes="options"
			:theme-styles="style"
			:formats="formats"
			:available-dates="availableDates"
			is-inline
			is-expanded
			@update:fromPage="onChangedMonth"
			@input="$emit('input', $event)"
		>
		</v-date-picker>
	</div>
</template>

<script>
import moment from 'moment'

export default {
	props: {
		value: {
			type: String|Date,
			default: () => new Date()
		},

		options: {
			type: Array,
			default: () => ([
				{
					key: 'today',
					highlight: {
						backgroundColor: '#ff8080',
					},
					contentStyle: {
						color: '#fafafa'
					},
					dates: new Date(2019, 0, 1),
					popover: {
						label: 'You just hovered over today\'s date!',
					}
				}
			])
		},

		availableDates: {
			type: Array,
			default: undefined
		}
	},

	data: () => ({
		style: {
			wrapper: {
				backgroundColor: 'transparent',
				border: '0',
				fontFamily: 'Nunito'
			},
			header: {
				textTransform: 'uppercase',
				fontFamily: 'Dosis',
				fontWeight: '800',
				fontSize: '32px',
				color: '#0B3CC5',
				padding: '0 24px 24px'
			},
			weekdays: {
				fontWeight: 600
			}
		},
		formats: {
			title: 'MMMM'
		}
	}),

	methods: {
		onChangedMonth(event) {
			if (event)
				this.$emit('changed-month', event.month)
		},

		disabledDates() {
			let months = []

			for (let i = 1; i < moment().format('M'); i++)
				months.push(i)

			return {
				months: months
			}
		}
	}
}
</script>

<style lang="scss">
.dr-calendar{
	text-align: center;
	.c-title{
		font-weight: 700 !important;
	}
}
</style>
