<template>
	<span class="dr-icon icon"
		:class="[
			 `dr-icon--${size}`,
			 `dr-icon--${theme}`,
			 `icon-${name}`,
			 {
				 'is-dark': dark
			 }
		 ]"
	>
	</span>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			default: 'sun'
		},
		theme: {
			type: String,
			default: 'default' // default | primary | accent
		},
		size: {
			type: String,
			default: 'md'
		},
		dark: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss">
.dr-icon{
	display: inline-block;
	transition: color .15s $easeInOutQuad;
	&--sm{
		font-size: 18px;
	}
	&--md{
		font-size: 28px;
	}
	&--lg{
		font-size: 36px;
	}
	&--xl{
		font-size: 42px;
	}

	// Themes
	&--default{
		color: $c-black;
	}
	&--primary{
		color: $c-primary;
	}
	&--accent{
		color: $c-accent;
	}

	&.is-dark{
		color: white;
	}
}
</style>
