<template>
	<button class="dr-list-item" :class="{'is-active': active}" @click="$emit('click', $event)">
		<slot name="prefix">
		</slot>

		<div class="dr-list-item__wrapper">
			<slot>
			</slot>

			<dr-text class="dr-list-item__text" type="strong" v-if="label">
				{{ label }}
			</dr-text>
		</div>

		<slot name="suffix">
			<span class="dr-list-item__notifications" v-if="notifications > 0">
				{{ notifications }}
			</span>
		</slot>
	</button>
</template>

<script>
import DRText from './DRText.vue'

export default {
	components: {
		'dr-text': DRText
	},

	props: {
		label: {
			type: String,
			default: ''
		},
		notifications: {
			type: Number,
			default: 0
		},
		active: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss">
.dr-list-item{
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0 4px 4px rgba(black, .1);
	background: white;
	border: 0;
	padding: 21px 32px;
	position: relative;
	cursor: pointer;
	text-align: left;
	width: 100%;
	display: flex;
	margin: 8px 0;
	align-items: center;
	&:before{
		content: "";
		border: 2px solid $c-accent;
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		border-radius: 10px;
		opacity: 0;
		transition: opacity .1s $easeInOutQuad;
	}
	&__wrapper{
		width: 100%;
	}
	&__notifications{
		width: 18px;
		height: 18px;
		border-radius: 18px;
		background: $c-accent;
		color: white;
		font-size: 11px;
		font-weight: 600;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
	}

	&.is-active{
		.dr-list-item{
			&__text{
				color: $c-accent;
			}
		}
		&:before{
			opacity: 1;
		}
	}
}

.dr-dark{
	.dr-list-item{
		&__text{
			color: $c-black;
		}
	}
}
</style>
