<template>
	<div class="dr-modal">
		<div class="dr-modal__overlay" @click="$emit('close')"></div>
		<div class="dr-modal__container">
			<dr-icon class="dr-modal__close" name="close" @click.native="$emit('close')" />
			<slot></slot>
		</div>
	</div>
</template>

<script>
import DRIcon from '@/components/atoms/DRIcon.vue'

export default {
	components: {
		'dr-icon': DRIcon
	}
}
</script>

<style lang="scss">
.dr-modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
	padding: 40px 0;
	&__overlay{
		background: rgba($c-black, .8);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	&__container{
		background: $c-lightgrey;
		border-radius: 10px;
		position: relative;
		max-width: 90%;
		box-sizing: border-box;
		padding: 30px 20px;
	}
	&__close{
		position: absolute;
		top: 24px;
		right: 24px;
		opacity: .5;
		cursor: pointer;
		font-size: 16px;
	}

	@include grid-media($desktop-grid) {
		.dr-modal{
			&__container{
				padding: 66px;
				min-width: 520px;
			}
			&__close{
				display: none;
			}
		}
	}
}
</style>
