<template>
	<div class="dr-text"
		:class="[
			`dr-text--${type}`,
			`dr-text--${theme}`,
			{
				'is-bold': bold
			}
		]"
	>
		<slot></slot>
	</div>
</template>

<script>
export default {
	props: {
		type: {
			type: String,
			default: 'body' // body|label
		},
		theme: {
			type: String,
			default: 'default' // default | primary | accent
		},
		bold: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss">
.dr-text{
	display: block;
	font-family: Dosis;
	color: $c-black;
	&--label{
		font-size: 11px;
		font-weight: 600;
		line-height: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: rgba(26, 34, 57, 0.4);
		margin: 12px 0;
	}
	&--body{
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
	}
	&--regular{
		font-family: Nunito;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
	}
	&--strong{
		font-size: 16px;
		font-weight: 600;
		line-height: 21px;
		letter-spacing: 0.15px;
	}
	&--small{
		font-size: 14px;
	}
	&--lead{
		font-family: Dosis;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0.004em;
	}
	&--caption{
		font-size: 12px;
	}

	&--default{
		color: $c-black;
	}
	&--primary{
		color: $c-primary;
	}
	&--accent{
		color: $c-accent;
	}

	&.is-bold{
		font-weight: 700;
	}
}

.dr-dark{
	.dr-text{
		color: white;
		&--label{
			color: rgba(white, 0.4);
		}
	}
}
</style>
