<template>
	<div class="dr-app">
		<dr-header :user="user"
			v-if="
				$route.name != 'schedule' &&
				$route.name != null
			"
		>
		</dr-header>

		<transition name="fade-slide" mode="out-in">
			<router-view>
			</router-view>
		</transition>
		<dr-footer
			v-if="
				$route.name != 'schedule' &&
				$route.name != 'dashboard-scheduled' &&
				$route.name != 'dashboard-pending' &&
				$route.name != 'dashboard-history' &&
				$route.name != null
			"
		>
		</dr-footer>

        <div id="whatsapp-bloco">
            <a href="https://api.whatsapp.com/send?phone=5583981940606"
               target="_blank">
                <img  class="whatsapp-icon" src="/themes/drnahora/public/images/whatsapp-icon.png" />
            </a>
        </div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
import DRHeader from './components/organisms/DRHeader.vue'
import DRFooter from './components/organisms/DRFooter.vue'

export default {
	components: {
		'dr-header': DRHeader,
		'dr-footer': DRFooter
	},
	mounted() {
		this.$store.dispatch('fetchUser')
	},

	computed: {
		...mapGetters({
			user: 'getUser'
		})
	}
}
</script>

<style lang="scss">
.dr-app{
	overflow-x: hidden;

    #whatsapp-bloco{
        position: fixed !important;
        width: 77px;
        bottom: 25px;
        right: 110px;
        z-index: 99999999 !important;
        .whatsapp-icon {
            height: auto;
            cursor: pointer;
        }
    }
}
iframe#smartzap_chat_btn_iframe{
    width: 80px !important;
    z-index: 1 !important;
}

</style>
