<template>
	<div class="dr-dashboard" :style="{ height: `${height}px` }">
		<div
			class="dr-dashboard__column dr-dashboard__column--left"
			:class="{ 'dr-dark': leftDark }"
			v-if="left"
		>
			<div class="dr-dashboard__wrapper">
				<slot name="left">
				</slot>
			</div>
		</div>
		<div class="dr-dashboard__column dr-dashboard__column--right">
			<transition name="fade-slide">
				<dr-button-icon
					v-if="step > 1"
					class="dr-dashboard__back"
					name="arrow-left"
					theme="primary"
					:filled="true"
					@click="$emit('previous', step)"
				>
				</dr-button-icon>
			</transition>

			<div class="dr-dashboard__holder">
				<div class="dr-dashboard__wrapper">
					<slot name="right">
					</slot>
				</div>
			</div>

			<transition name="fade">
				<button
					v-if="action"
					class="dr-dashboard__button"
					:class="[`dr-dashboard__button--${actionTheme}`]"
					@click="$emit('next', step)"
				>
					{{ action }}
				</button>
			</transition>
		</div>
	</div>
</template>

<script>
import DRButtonIcon from '../atoms/DRButtonIcon.vue'

export default {
	components: {
		'dr-button-icon': DRButtonIcon
	},

	props: {
		action: {
			type: String,
			default: null
		},
		actionTheme: {
			type: String,
			default: 'secondary'
		},
		step: {
			type: Number,
			default: 0
		},
		left: {
			type: Boolean,
			default: true
		},
		leftDark: {
			type: Boolean,
			default: true
		}
	},

	data: () => ({
		height: 0
	}),

	mounted() {
		this.resize()
		window.addEventListener('resize', this.resize)
	},

	destroyed() {
		window.removeEventListener('resize', this.resize)
	},

	methods: {
		resize() {
			let header = document.querySelector('.dr-header').clientHeight

			this.height = window.innerHeight - header
		}
	}
}
</script>

<style lang="scss">
.dr-dashboard{
	&__button{
		font-size: 16px;
		font-weight: 800;
		font-family: Dosis;
		line-height: 28px;
		text-align: center;
		padding: 27px;
		width: 100%;
		box-sizing: border-box;
		border: 0;
		color: white;
		cursor: pointer;
		&--secondary{
			background: $c-secondary;
		}
		&--accent{
			background: $c-accent;
		}
	}
	&__column{
		&--left{
			display: flex;
			&.dr-dark{
				background: $c-primary;
			}
		}
		&--right{
		}
	}
	&__wrapper{
		padding: 44px 20px;
		width: 100%;
		box-sizing: border-box;
	}
	&__back{
		position: absolute;
		top: 20px;
		left: 10px;
		z-index: 300;
	}

	@include grid-media($desktop-grid) {
		display: flex;
		height: 711px;
		.dr-dashboard{
			&__button{
			}
			&__back{
				top: 56px;
				left: 56px;
			}
			&__column{
				width: 50%;
				overflow: auto;
				display: flex;
				flex-flow: column;
				justify-content: space-between;
				align-items: center;
				position: relative;
			}
			&__wrapper{
				max-width: 428px;
				display: flex;
				height: 100%;
				padding: 88px 0;
			}
			&__holder{
				overflow: auto;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				flex: 1;
			}
		}
	}
}
</style>
