<template>
	<div class="dr-playground">
		<dr-doctor-services />

		<dr-item-speciality />

		<dr-appointment-review 
			speciality="Clínico Geral"
			date="02/02/2019"
			doctor="Tasla Assunção"
			time="time"
		/>

		<div class="dr-playground__container">
			<div class="dr-playground__service">
				<dr-calendar v-model="date">
				</dr-calendar>
			</div>

			<div class="dr-playground__service">
				<dr-toggle-service v-model="service">
				</dr-toggle-service>
			</div>

			<div class="dr-playground__speciality">
				<dr-pick-speciality>
				</dr-pick-speciality>
			</div>

			<div class="dr-playground__shift">
				<dr-toggle-shift v-model="shift">
				</dr-toggle-shift>
			</div>

			<div class="dr-playground__buttons">
				<dr-title>
					Buttons
				</dr-title>

				<div>
					<dr-button theme="primary" size="sm">
						Primary
					</dr-button>
					<dr-button theme="secondary" size="md">
						Secondary
					</dr-button>
					<dr-button theme="accent" size="lg">
						Accent
					</dr-button>
				</div>
				<div>
					<dr-button-icon name="filter" theme="primary" size="sm" />
					<dr-button-icon name="filter" theme="secondary" size="md" />
					<dr-button-icon name="filter" theme="accent" size="lg" />
				</div>
				<div>
					<dr-button-icon name="instagram" :rounded="true" theme="primary" size="sm" />
					<dr-button-icon name="instagram" :rounded="true" theme="secondary" size="md" />
					<dr-button-icon name="instagram" :rounded="true" theme="accent" size="lg" />
				</div>
				<div>
					<dr-button theme="primary" :filled="true" size="sm">
						Primary
					</dr-button>
					<dr-button theme="secondary" :filled="true" size="md">
						Secondary
					</dr-button>
					<dr-button theme="accent" :filled="true" size="lg">
						Accent
					</dr-button>
				</div>
				<div>
					<dr-button-icon name="filter" :filled="true" theme="primary" size="sm" />
					<dr-button-icon name="filter" :filled="true" theme="secondary" size="md" />
					<dr-button-icon name="filter" :filled="true" theme="accent" size="lg" />
				</div>
				<div>
					<dr-button-icon name="instagram" :rounded="true" :filled="true" theme="primary" size="sm" />
					<dr-button-icon name="instagram" :rounded="true" :filled="true" theme="secondary" size="md" />
					<dr-button-icon name="instagram" :rounded="true" :filled="true" theme="accent" size="lg" />
				</div>
			</div>

			<div class="dr-playground__cards">
				<dr-title>
					Cards
				</dr-title>

				<dr-card-doctor
					v-for="(doctor, index) in doctorList"
					v-model="time"
					:key="index"
					:active="doctor.id == selectedDoctor"
					:avatar="doctor.avatar"
					:name="doctor.name"
					:availability="doctor.availability"
					:unit="doctor.unit"
					:document="doctor.document"
					@click="selectedDoctor = doctor.id"
				/>

				<dr-card-appointment />
				<dr-card-appointment action="Desmarcar Consulta" />
				<dr-card-appointment action="Desmarcar Consulta" />
			</div>

			<div class="dr-playground__lists">
				<dr-title>
					Lists
				</dr-title>

				<dr-list-item label="Consultas marcadas" :active="true">
				</dr-list-item>
				<dr-list-item label="Consultas marcadas" :notifications="3">
				</dr-list-item>
			</div>

			<div class="dr-playground__inputs">
				<dr-title>
					Inputs
				</dr-title>

				<div class="dr-playground__columns">
					<div class="dr-playground__theme dr-playground__theme--light">
						<dr-input-autocomplete v-model="autocomplete" :options="categories" />
						<dr-input-text label="Nome" v-model="name" />
						<dr-input-text label="Nome" v-model="name" :outlined="true" />
						<dr-input-select label="Categorias" placeholder="Selecione" v-model="category" :options="categories" />
						<dr-input-select label="Categorias" placeholder="Selecione" v-model="category" :options="categories" :outlined="true" />
						<dr-input-date label="Data" v-model="date" placeholder="Selecione a data" />
						<dr-input-date label="Data" v-model="date" :outlined="true" placeholder="Selecione a data" />
						<dr-input-list label="Médicos disponíveis" v-model="doctor" :options="doctors" />
						<dr-input-radio label="Pagamento" v-model="payment" :options="payments" />
						<dr-input-time label="Selecione um horário" v-model="time" :options="availability" />

						<dr-text type="label">
							Search
						</dr-text>
						<dr-input-search label="Pesquise por especialidade" />
					</div>

					<div class="dr-playground__theme dr-playground__theme--dark dr-dark">
						<dr-input-autocomplete v-model="autocomplete" :options="categories" />
						<dr-input-text label="Nome" v-model="name" />
						<dr-input-text label="Nome" v-model="name" :outlined="true" />
						<dr-input-select label="Categorias" placeholder="Selecione" v-model="category" :options="categories" />
						<dr-input-select label="Categorias" placeholder="Selecione" v-model="category" :options="categories" :outlined="true" />
						<dr-input-date label="Data" v-model="date" placeholder="Selecione a data" />
						<dr-input-date label="Data" v-model="date" :outlined="true" placeholder="Selecione a data" />
						<dr-input-list label="Médicos disponíveis" v-model="doctor" :options="doctors" />
						<dr-input-radio label="Pagamento" v-model="payment" :options="payments" />
						<dr-input-time label="Selecione um horário" v-model="time" :options="availability" />

						<dr-text type="label">
							Search
						</dr-text>
						<dr-input-search label="Pesquise por especialidade" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import DRText from '../atoms/DRText.vue'
import DRTitle from '../atoms/DRTitle.vue'
import DRButton from '../atoms/DRButton.vue'
import DRButtonIcon from '../atoms/DRButtonIcon.vue'
import DRListItem from '../atoms/DRListItem.vue'
import DRCardDoctor from '../molecules/DRCardDoctor.vue'
import DRCardAppointment from '../molecules/DRCardAppointment.vue'
import DRInputText from '../molecules/DRInputText.vue'
import DRInputSelect from '../molecules/DRInputSelect.vue'
import DRInputSearch from '../molecules/DRInputSearch.vue'
import DRInputDate from '../molecules/DRInputDate.vue'
import DRInputList from '../molecules/DRInputList.vue'
import DRInputRadio from '../molecules/DRInputRadio.vue'
import DRInputTime from '../molecules/DRInputTime.vue'
import DRToggleShift from '../molecules/DRToggleShift.vue'
import DRToggleService from '../molecules/DRToggleService.vue'
import DRPickSpeciality from '../molecules/DRPickSpeciality.vue'
import DRInputAutocomplete from '../molecules/DRInputAutocomplete.vue'
import DRItemSpeciality from '../molecules/DRItemSpeciality.vue'
import DRCalendar from '../atoms/DRCalendar.vue'
import DRAppointmentReview from '@/components/organisms/DRAppointmentReview.vue'
import DRDoctorServices from '@/components/organisms/DRDoctorServices.vue'

export default {
	components: {
		'dr-text': DRText,
		'dr-title': DRTitle,
		'dr-button': DRButton,
		'dr-button-icon': DRButtonIcon,
		'dr-list-item': DRListItem,
		'dr-card-appointment': DRCardAppointment,
		'dr-card-doctor': DRCardDoctor,
		'dr-input-text': DRInputText,
		'dr-input-select': DRInputSelect,
		'dr-input-search': DRInputSearch,
		'dr-input-date': DRInputDate,
		'dr-input-list': DRInputList,
		'dr-input-radio': DRInputRadio,
		'dr-input-time': DRInputTime,
		'dr-input-autocomplete': DRInputAutocomplete,
		'dr-toggle-shift': DRToggleShift,
		'dr-toggle-service': DRToggleService,
		'dr-pick-speciality': DRPickSpeciality,
		'dr-calendar': DRCalendar,
		'dr-appointment-review': DRAppointmentReview,
		'dr-item-speciality': DRItemSpeciality,
		'dr-doctor-services': DRDoctorServices
	},

	data: () => ({
		name: '',
		date: null,
		autocomplete: '',
		category: null,
		date: null,
		shift: '',
		service: '',

		doctorList: [
			{
				id: 1,
				name: 'Rodrigo Medeiros',
				avatar: 'https://placeimg.com/640/480/people',
				document: 'CRM - 293812',
				unit: 'Unimed',
				availability: ['10:00']
			},
			{
				id: 2,
				name: 'OMG',
				avatar: 'https://placeimg.com/640/480/nature',
				document: 'CRM - 293812',
				unit: 'Unimed',
				availability: ['10:00', '11:00']
			},
		],
		selectedDoctor: null,
		time: null,

		categories: {
			education: 'Educação',
			health: 'Saúde',
			beauty: 'Beleza',
			nutrition: 'Nutrição',
			sport: 'Esporte',
			tech: 'Tecnologia',
			entertaiment: 'Entrentenimento'
		},
		doctor: null,
		doctors: {
			1: {
				thumbnail: 'https://placeimg.com/640/480/people',
				title: 'Gustavo Ramalho de Vasconselos',
				caption: 'Credito 8780 - <b>Cirurgião</b>'
			},
			2: {
				thumbnail: 'https://placeimg.com/640/480/people',
				title: 'Gustavo Ramalho de Vasconselos',
				caption: 'Credito 8780 - <b>Cirurgião</b>'
			}
		},
		payment: null,
		payments: {
			pagseguro: {
				label: 'Pagar agora com o Pagseguro',
				caption: 'Com desconto de 20%'
			},
			upfront: 'Pagar no dia da consulta'
		},
		time: null,
		availability: [
			'07:00', '08:00', '09:00', '10:00', '11:00', '14:00', '15:00', '16:00', '17:00', '18:00'
		]
	}),
}
</script>

<style lang="scss">
.dr-playground{
	&__container{
		@include outer-container;
	}
	&__theme{
		padding: 48px;
		box-sizing: border-box;
		&--light{
			background: white;
		}
		&--dark{
			background: $c-primary;
		}
	}

	&__buttons{
		@include grid-column(2);
	}

	&__cards{
		> .dr-title{
			@include grid-column(2);
		}
		.dr-appointment-card{
			margin-bottom: 30px;
			@include grid-column(2);
		}
	}

	&__inputs,
	&__lists{
		@include grid-column(2);
	}

	&__subhead{
		margin: 32px 0;
	}

	&__avatar{
		width: 40px;
		height: 40px;
		border-radius: 40px;
		background: $c-primary;
		display: inline-block;
	}

	@include grid-media($desktop-grid) {
		.dr-playground{
			&__buttons{
				> div{
					display: flex;
					margin: 24px 0;
					justify-content: space-around;
					align-items: center;
				}
			}
			&__cards{
				.dr-appointment-card{
					@include grid-column(6);
				}
			}
			&__columns{
				display: flex;
				flex-flow: row wrap;
			}
			&__inputs{
				.dr-playground__theme{
					width: 50%;
				}
			}
		}
	}
}
</style>
