.wrapper.blog {

  @keyframes blog-slides-nav-button-icon-animation {
    0% { left: 0; }

    50% { left: 5px; }

    100% { left: 0; }
  }

  .global-link-bottom {
    margin: 90px 0;

    @media screen and (max-width: 768px) {
      margin: 30px 0;
    }
  }

  .blog-header {
    margin-bottom: 90px;

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }

    .section-title {
      margin: 0;
      color: #1A2239;

      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
    }

    .global-searchbar-form {
      margin: 0;

      @media screen and (max-width: 768px) {
        margin: 30px 0;
        width: 100%;
      }
      
      .searchbar-form-input {
        @media screen and (max-width: 768px) {
          width: 100%;
          display: block !important;
        }
      }
    }

    .global-dropdown-list {
      margin: 18px 0 0 0;
    }
  }

  .blog-slides {
    position: relative;
    margin: 0 -15px 90px;
		overflow: hidden;

    @media screen and (max-width: 768px) {
      margin: 0;
    }

    .blog-slides-nav {
      @include transition(all ease 250ms);
      position: absolute;
      z-index: 2;
      right: 0;
      cursor: pointer;
      width: 150px;
      height: 100%;
      background: #000;

      @media screen and (max-width: 768px) {
        display: none;
      }

      &.active {
        width: 50%;
        
        .blog-slides-nav-button {
          left: 30px;

          .icon {
            animation: blog-slides-nav-button-icon-animation 500ms ease infinite;
          }
        }
      }

      .blog-slides-nav-button {
        @include transition(all ease 250ms);
        @extend .dosis-regular;
        position: absolute;
        left: 15px;
        bottom: 15px;
        background: transparent;
        border: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        line-height: 15px;
        color: #fff;

        .icon {
          @include sprite($arrow-right-2x);
          display: inline-block;
          position: relative;
          top: 2px;
        }
      }
    }

    .blog-slides-dots {
      position: absolute;
      z-index: 3;
      bottom: 40px;
      left: 0;
      right: 0;

      ul {
        text-align: center;

        li {
          cursor: pointer;
          position: relative;
          display: inline-block;
          margin-right: 15px;
          width: 18px;
          height: 18px;
          border: 2px solid rgba(255, 255, 255, 0.4);
          border-radius: 9999px;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            button {
              opacity: 1;
            }
          }

          button {
            opacity: 0;
            position: absolute;
            pointer-events: none;
            top: 3px;
            left: 3px;
            margin: 0;
            padding: 0;
            width: 8px;
            height: 8px;
            border: none;
            background: #fff;
            border-radius: 9999px;
          }
        }
      }
    }

    .blog-slides-item {
      @include transition(all ease 250ms);
      position: absolute;
      top: 0;
      opacity: 0;
			height: 670px;

      @media screen and (max-width: 768px) {
        height: 314px;
      }

      &.active {
        position: relative;
        opacity: 1;
      }

      .blog-slides-item-content {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;

        .main-center {
          height: 100%;
        }

        .blog-slides-item-info {
          padding: 50px;
          width: 350px;
          height: auto;
          border-radius: 10px;
          background: #fff;

          @media screen and (max-width: 768px) {
            width: 100%;
            background: transparent;
          }

          .info-label {
            @extend .dosis-regular;
            margin-bottom: 15px;
            opacity: 0.5;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 15px;
            font-size: 12px;
            color: #1A2239;
          }

          .info-title {
            @extend .dosis-bold;
            margin-bottom: 40px;
            line-height: 32px;
            font-size: 24px;
            color: #1A2239;
          }

          .info-link {
            // @include transition(all ease 250ms);
            display: block;
            width: 48px;
            height: 48px;
            border-radius: 5px;
            border: 1px solid #FF206E;
            text-align: center;
            line-height: 48px;
            text-decoration: none;

            &:hover {
              width: 120px;
              
              .labe {
                display: inline-block;
                opacity: 1;
              }
            }

            .labe {
              @extend .dosis-extrabold;
              display: none;
              opacity: 0;
              margin-right: 15px;
              font-size: 14px;
              color: #FF206E;
            }

            .icon {
              @include sprite($arrow-right-5-2x);
              display: inline-block;
            }
          }
        }
      }

      img {
        display: block;
        width: 100%;
        height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
      }
    }
  }

}
