.wrapper.consulta {

  .consulta-header {
    margin: 0 -15px;
    padding: 90px 0 40px;
    background: #0B3CC5;

    @media screen and (max-width: 768px) {
      padding: 30px 15px;
    }

    .section-title {
      margin: 0;
    }

    .consulta-price {
      @extend .dosis-bold;
      margin-right: 40px;
      text-transform: uppercase;
      font-size: 14px;
      color: rgba(255, 255, 255, .5);

      @media screen and (max-width: 768px) {
        display: block;
        margin-bottom: 30px;
      }

      b {
        color: #fff;
      }
    }
  }

  .consulta-content {
    @extend .nunito-regular;
    padding: 40px 0;
    line-height: 24px;
    font-size: 16px;
    color: #000;

    p {
      margin-bottom: 25px;
    }

    b {
      @extend .dosis-semibold;
      font-size: 18px;
    }

    ul {
      margin: 0 0 25px 15px;
      padding: 0;
    }
    
    .consulta-content-title {
      @extend .dosis-semibold;
      padding: 0 0 15px;
      margin: 0 0 25px;
      line-height: 27px;
      font-size: 20px;
      color: rgba(26, 34, 57, 0.5);
      border-bottom: 1px solid rgba(26, 34, 57, 0.2);
    }

    .consulta-doctor-list {
      margin: 0;
      padding: 0;
      list-style: none;

      .doctor-list-item {
        margin-bottom: 15px;

        .doctor-thumb {
          float: left;
          margin-right: 15px;
          display: block;
          width: 56px;
          height: 56px;
          border-radius: 9999px;
        }

        .doctor-name {
          @extend .dosis-semibold;
          margin-bottom: 5px;
          font-size: 20px;
          line-height: 27px;
          color: #1A2239;
        }

        .doctor-info {
          @extend .dosis-regular;
          text-transform: uppercase;
          line-height: 16px;
          font-size: 12px;
          color: rgba(26, 34, 57, 0.6);

          @media screen and (max-width: 768px) {
            margin-left: 71px;
          }

          b {
            @extend .dosis-bold;
            line-height: 16px;
            font-size: 12px;
          }
        }
      }
    }
  }
}