.wrapper.contato {

  .section-title {
    margin-top: 70px;
    color: #000;

    @media screen and (max-width: 768px) {
      margin: 30px 0;
      text-align: center;
      line-height: 38px;
      font-size: 38px;
    }
    
    b {
      @extend .dosis-semibold;
      color: #FF206E;
    }
  }

  .contato-form {
    padding: 70px;
    background: #fff;

    @media screen and (max-width: 768px) {
      padding: 15px;
    }

    .form-group {
      margin-bottom: 30px;

      textarea {
        resize: none;
        height: 100px;
      }

      .form-control {
        @extend .dosis-regular;
        padding: 0 0 15px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid rgba(26, 34, 57, 0.15);
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);

        &:focus {
          border-bottom: 1px solid rgba(26, 34, 57, 0.15);
          box-shadow: none;
        }
      }

      button {
        @extend .dosis-bold;
        cursor: pointer;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        text-transform: uppercase;
        line-height: 18px;
        font-size: 14px;
        color: #FF206E;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .contato-maps {
    position: relative;
    margin: 0 -15px;
    height: 250px;

    @media screen and (max-width: 768px) {
      height: auto;
    }

    .contato-maps-panel {
      pointer-events: none;
      position: absolute;
      top: -90px;
      z-index: 1;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 768px) {
        position: initial;
        top: initial;
        padding: 15px;
      }

      .maps-panel-content {
        pointer-events: initial;
        padding: 40px;
        width: 450px;
        height: 250px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);

        @media screen and (max-width: 768px) {
          width: 100%;
          height: auto;
          border-radius: 0;
          box-shadow: none;
        }

        .maps-panel-title {
          @extend .dosis-bold;
          margin-bottom: 15px;
          line-height: 46px;
          font-size: 24px;
          color: #000;
        }

        .maps-panel-address {
          @extend .nunito-regular;
          line-height: 24px;
          font-size: 14px;
          color: #000;
        }
        
        .maps-panel-phone {
          @extend .dosis-semibold;
          line-height: 27px;
          font-size: 20px;
          color: #000;

          .icon {
            @include sprite($phone-icon-2x);
            display: inline-block;
            margin-right: 15px;
          }
        }
      }
    }

    .contato-maps-items {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 768px) {
        height: 250px;
      }

      .contato-maps-item {
        @include transition(all ease 250ms);
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;

        &.active {
          opacity: 1;
        }
      }
    }
  }

}