.wrapper.exame-interna {

  .exame-header {
    margin: 0 -15px;
    padding: 90px 0 40px;
    background: #0B3CC5;

    @media screen and (max-width: 768px) {
      padding: 30px 15px;
    }

    .section-title {
      margin: 0;
    }

    .exame-price {
      @extend .dosis-bold;
      margin-right: 40px;
      text-transform: uppercase;
      font-size: 14px;
      color: rgba(255, 255, 255, .5);

      @media screen and (max-width: 768px) {
        display: block;
        margin-bottom: 30px;
      }

      b {
        color: #fff;
      }
    }
  }

  .wrbg {
    padding: 0 50px;
    background: #FF3A52;

    .exame-content {
      color: #fff;
      
      .exame-content-title {
        border-bottom: 1px solid rgba(249, 250, 252, 0.4);
        color: #fff;
      }
    }
  }

  .wbbg {
    background: #E7EDFF;
  }

  .exame-content {
    @extend .nunito-regular;
    padding: 40px 0;
    line-height: 24px;
    font-size: 16px;
    color: #000;

    p {
      margin-bottom: 25px;
    }

    b {
      @extend .dosis-semibold;
      font-size: 18px;
    }

    ul {
      margin: 0 0 25px 15px;
      padding: 0;
    }
    
    .exame-content-title {
      @extend .dosis-semibold;
      padding: 0 0 15px;
      margin: 0 0 25px;
      line-height: 27px;
      font-size: 20px;
      color: #1A2239;
      border-bottom: 1px solid rgba(26, 34, 57, 0.2);
    }

    
  }
}