.dosis-regular {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

.dosis-medium {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

.dosis-semibold {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

.dosis-bold {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}

.dosis-extrabold {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
}

.nunito-regular {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.nunito-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}