.footer-parallax {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: -500px;
  left: 0;

  .p2 {
    position: absolute;
  }

  .p2 {
    left: 60% !important;
    width: 580px;
    height: 439px;
  }
}

.footer {
  margin-left: -15px;
  margin-right: -15px;
  height: 102px;
  background: #0B3CC5;

  @media screen and (max-width: 768px) {
    padding: 30px 15px;
    height: auto;
  }

  &.nbg {
    background: none;

    .footer-content {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }


  .footer-content {
    height: 102px;

    @media screen and (max-width: 768px) {
      height: auto;
    }
    
    // reset bootstrap
    .row {
      height: inherit;
    }

    .footer-logo {
      @include transition(all ease 150ms);
      @include sprite($logo-2x);
      position: relative;
      top: 31px;
      display: block;
      text-indent: -9999px;

      @media screen and (max-width: 768px) {
        top: initial;
        margin-bottom: 30px;
      }

      &:hover {
        @include transform(scale(1.1));
      }
    }

    .footer-contact {
      margin-bottom: 30px;

      .footer-contact-title {
        @extend .dosis-extrabold;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
      }

      .footer-contact-location {
        text-transform: capitalize !important;

        .global-dropdown-list {
          .dropdown-list-item {
            &.selected {
              opacity: 1;
              text-align: left;
              color: #fff;

              span {
                color: yellow;
              }
            }
          }
        }
      }

      .footer-contact-phones {
        position: relative;
        height: 50px;

        .footer-contact-phone {
          @extend .dosis-extrabold;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          line-height: 25px;
          font-size: 20px;
          color: #fff;
          
          &.active {
            opacity: 1;
          }
        }
      }

    }

    .footer-social {
      position: relative;
      top: 39px;

      @media screen and (max-width: 768px) {
        top: initial;
      }

      .footer-social-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        @media screen and (max-width: 768px) {
          padding-bottom: 30px;
          margin-bottom: 30px;
          text-align: left;
          border-bottom: 1px solid rgba(249, 250, 252, 0.2);
        }
        
        .footer-social-list-item {
          display: inline-block;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          a {
            @include transition(all ease 150ms);
            display: block;
            text-indent: -9999px;

            &:hover {
              @include transform(scale(1.1));
            }

            &.facebook {
              @include sprite($facebook-2x);
            }

            &.instagram {
              @include sprite($instagram-2x);
            }

            &.twitter {
              @include sprite($twitter-2x);
            }
          }
        }
      }
    }

    .footer-copyright {
      @include transition(all ease 150ms);
      @include sprite($qualitare-2x);
      display: block;
      float: right;
      position: relative;
      top: 43px;
      text-indent: -9999px;

      @media screen and (max-width: 768px) {
        float: left;
        top: initial;
      }

      &:hover {
        @include transform(scale(1.1));
      }
    }
  }

}
