.wrapper.inscricao {

  .section-title {
    margin-bottom: 40px;
    color: #1A2239;

    @media screen and (max-width: 768px) {
      margin: 30px 0;
    }
  }

  .section-excerpt {
    margin-bottom: 60px;
    color: rgba(26, 34, 57, 0.8);

    @media screen and (max-width: 768px) {
      margin: 30px 0;
    }
  }

  .global-link {
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .inscricao-thumb {
    @media screen and (max-width: 768px) {
      display: block;
      width: 100%;
    }
  }

  .inscricao-testimonials {
    margin: 0 -15px;
    padding: 90px 0;
    background: #E9EEF9;

    @media screen and (max-width: 768px) {
      z-index: 100;
      padding: 30px;
    }

    .section-label,
    .section-title {
      text-align: center;
    }
    
    .section-label {
      margin-bottom: 25px;

      @media screen and (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
    
    .section-title {
      margin-bottom: 50px;

      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }

    .inscricao-testimonials-slides {
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 712px;
      height: auto;

      .inscricao-testimonials-slides-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -48px;

        @media screen and (max-width: 768px) {
          bottom: -20px;
        }

        .slick-dots {
          margin: 0;
          padding: 0;
          line-height: 8px;
          list-style: none;
          text-align: center;

          li {
            display: inline-block;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }

            &.slick-active {
              button {
                background: #FF206E;
              }
            }

            button {
              @include transition(all ease 250ms);
              cursor: pointer;
              display: block;
              margin: 0;
              padding: 0;
              text-indent: -9999px;
              width: 8px;
              height: 8px;
              border: none;
              background: rgba(26, 34, 57, 0.2);
              border-radius: 9999px;
            }
          }
        }
      }

      .inscricao-testimonials-slides-nav {
        cursor: pointer;
        position: absolute;
        display: block;
        top: 50%;
        margin: -8px 0 0 0;
        padding: 0;
        background: none;
        border: none;

        @media screen and (max-width: 768px) {
          display: none !important;
        }

        &:active {
          top: 51%;
        }

        &.slick-disabled {
          display: none !important;
        }

        .icon {
          display: block;
        }

        &.prev {
          left: -35px;

          .icon {
            @include sprite($arrow-left-4-2x);
          }
        }

        &.next {
          right: -35px;
          
          .icon {
            @include sprite($arrow-right-4-2x);
          }
        }
      }

      .inscricao-testimonials-slides-items {
        position: relative;
        box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);


        .inscricao-testimonials-slides-item {
          position: relative;
          border-radius: 7px;

          .slides-item-icon {
            @include transition(all ease 250ms);
            cursor: pointer;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            margin: 0;
            padding: 0;
            margin-top: -40px;
            margin-left: -40px;
            width: 80px;
            height: 80px;
            border-radius: 9999px;
            border: none;
            background: #fff;
            box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);

            &:hover {
              box-shadow: 6px 24px 60px rgba(0, 0, 0, 0.2);
              
              .icon {
                @include transform(scale(1.1));
              }
            }

            .icon {
              @include transition(all ease 250ms);
              @include sprite($arrow-right-3-2x);
              margin: 0 auto;
              display: block;
            }
          }

          img {
            display: block;
            width: 100%;
            border-radius: 7px;
          }
        }
      }
    }
  }

  .inscricao-advantages {
    padding: 90px 0;

    @media screen and (max-width: 768px) {
      padding: 30px 0;
    }
    
    .section-title,
    .section-excerpt {
      text-align: center;
    }

    .section-title {
      margin-bottom: 25px;
    }
    
    .section-excerpt {
      margin-bottom: 90px;
    }
  }

  .inscricao-footer {
    margin: 0 -15px -102px -15px;
    height: 535px;
    background: url('./public/images/bg-footer.svg') center top no-repeat;
    // background: url("./public/images/bg-footer-2x-1.png") -100px bottom no-repeat, url("/public/images/bg-footer-2x-2.png") right bottom no-repeat;

    .inscricao-link {
      @extend .dosis-semibold;
      position: relative;
      top: 150px;
      display: block;
      padding: 0 40px;
      width: 388px;
      height: 196px;
      background: #fff;
      border-radius: 10px;
      text-decoration: none;
      line-height: 37px;
      font-size: 32px;
      color: #FF206E;
    }
  }

}
