.max-height {
  // width: 100%;
  height: 100%;
  min-height: 100%;

  .container-fluid {
    height: 100%;
    min-height: 100%;

    .row {
      height: 100%;
      min-height: 100%;
    }
  }

  .footer {
    @media screen and (min-width: 1400px), screen and (min-height: 800px) {
      position: absolute;
      margin: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.main-center {
  width: 100%;
  margin: 0 auto;
  max-width: 1144px;
}

.v-align {
  display: table;
  width: 100%;
  height: 100%;

  .v-align-middle {
    display: table-cell;
    vertical-align: middle;
  }
}

.icon-check {
  @include sprite($icon-check);
  display: inline-block;
  margin: 30px 0;
}

.modal-success {
  @extend .dosis-semibold;
  margin-bottom: 30px;
  font-size: 40px;
  color: #000;
}

.modal-ok {
  @extend .dosis-bold;
  margin-bottom: 30px;
  font-size: 24px;
  color: #FF206E;
}

.inverse-left {
  @media screen and (min-width: 769px) {
    float: right !important;
  }
}

.inverse-right {
  @media screen and (min-width: 769px) {
    float: left !important;
  }
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

// Titles and subtitles
.section-label {
  @extend .dosis-regular;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: rgba(26, 34, 57, 0.4);
}

.section-title {
  @extend .dosis-semibold;
  margin: 0 0 15px 0;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}

.section-excerpt {
  @extend .nunito-regular;
  margin: 0 0 25px 0;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

// Links
.global-link {
  @extend .dosis-extrabold;
  @include transition(all ease 250ms);
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  border-radius: 7px;
  background: #FF206E;
  text-decoration: none;
  color: #fff;

  @media screen and (max-width: 768px) {
    width: 100%;
    text-align: center;
  }

  &.nofill {
    background: none;
    border: 1px solid #FF206E;
    color: #FF206E;
  }

  &:hover {
    background: #E02063;
    text-decoration: none;
    color: #fff;
  }

}

.global-link-label {
  @extend .nunito-regular;
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  color: rgba(26, 34, 57, 0.5);
}

// Search forms
.global-search-box {
  margin: 0 -15px;
  padding: 90px 0 10px;
  background: url('./public/images/bg-search-box-2x.png') center -130px no-repeat;

  @media screen and (max-width: 768px) {
    padding: 30px 15px 0;
  }

  .section-title,
  .section-label {
    text-align: center;
    color: #1A2239;
  }
  
  .section-title {
    margin-bottom: 25px;
  }
  
  .section-label {
    margin-bottom: 90px;

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .global-searchbar-form {
    @media screen and (max-width: 768px) {
      position: relative;
      top: 30px;
      margin-bottom: 60px;
    }
  }
}

.global-searchbar-form {
  @include transition(all ease 250ms);
  margin: 0 0 25px 0;
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);


  @media screen and (max-width: 768px) {
    height: 60px;
  }


  &:hover {
    box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);
  }

  &.animated {
    float: right;
    margin: 0;
    width: 48px;
    height: 48px;
    border-radius: 9999px;

    .searchbar-form-auto {
      top: 100%;
      border-radius: 10px;
    }

    &:hover {
      width: 100%;

      .searchbar-form-auto {

      }

      .searchbar-form-input {
        display: block;
      }
      
    }

    .searchbar-form-input {
      display: none;
      height: 48px;
    }
    
    .searchbar-form-submit {
      top: 0;
      right: 0;
      border-radius: 9999px;
      background: #fff;

      @media screen and (max-width: 768px) {
        display: block;
      }      

      &:hover {
        @include transform(scale(1));
        background: #fff;
      }

      .icon {
        @include sprite($search-icon-2x);
        display: block;
        margin: 0 auto;
      }
    }
  }

    .xdsoft_autocomplete_hint{
        border-radius: 4px;
    }
  .searchbar-form-input {
    @extend .nunito-regular;
    position: absolute;
    z-index: 300;
    padding: 0 89px 0 25px;
    width: 100%;
    height: 80px;
    border: none;
    border-radius: inherit;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);

    @media screen and (max-width: 768px) {
      padding: 0 25px;
      height: 60px;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .searchbar-form-submit {
    @include transition(transform ease 150ms);
    @include sprite($search-2x);
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    text-indent: -9999px;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &:hover {
      @include sprite($search-hover-2x);
      @include transform(scale(1.1));
    }
  }

  .searchbar-form-auto {
    @extend .dosis-bold;
    display: none;
    position: absolute;
    z-index: 99;
    top: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);

    &.active {
      display: block;
    }

    li {
      cursor: pointer;
      padding: 25px;
      color: #999;
      border-bottom: 1px solid #e5e5e5;

      &:last-child {
        border-bottom: none;
      }

      b {
        color: #666;
      }
    }
  }
}

// Tags list
.tagsbar {
  .tagsbar-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .tagsbar-list-item {
      display: inline-block;
			margin-right: 12px;

      a {
        @include transition(all ease 250ms);
        @extend .dosis-extrabold;
        display: block;
        padding: 0 25px;
        height: 40px;
        font-size: 12px;
        line-height: 40px;
        border-radius: 7px;
        background: rgba(0, 0, 0, 0.17);
        text-decoration: none;
        color: #fff;

        &:hover {
          background: rgba(0, 0, 0, 0.3)
        }
      }
    }
  }
}

// Global items
.global-dropdown-list {
  @extend .dosis-semibold;
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 15px;
  list-style: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 15px;
  font-size: 12px;
  
  &.active {
    .dropdown-list-item {
      &.selected {
        .dropdown-arrow {
          @include transform(rotate(180deg));
        }
      }
    }

    .dropdown-sublist {
      display: block;
      opacity: 1;
    }
  }

  .dropdown-list-item {
    &.selected {
      text-align: right;
      cursor: pointer;
      opacity: 0.5;

      .dropdown-arrow {
        @include transition(all ease 250ms);
        @include sprite($arrow-down-2x);
        position: relative;
        top: -1px;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  .dropdown-sublist {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    display: none;
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
    background: #fff;
    border-radius: 7px;
    box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);

    .dropdown-sublist-item {
      padding: 0 20px;
      
      a {
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid rgba(26, 34, 57, 0.1);
        text-decoration: none;
        color: #1A2239;
      }
    }
  }
}

.global-blog-post-item {
  @include transition(all ease 250ms);
  display: block;
  margin-bottom: 35px;
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  
  &:hover {
    text-decoration: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  }

  .post-item-label {
    @extend .dosis-regular;
    display: block;
    padding: 30px 25px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  .post-item-title {
    @extend .dosis-bold;
    display: block;
    padding: 0 25px 30px;
    line-height: 32px;
    font-size: 24px;
    color: #1A2239;
  }

  .post-item-thumb {
    display: block;
    width: 100%;
    height: auto;
  }

  .post-item-footer {
    display: block;
    padding: 20px 25px;

    .post-item-more {
      @extend .dosis-bold;
      text-transform: uppercase;
      line-height: 14px;
      font-size: 18px;
      color: #1A2239;
    }

    .post-item-icon {
      @include sprite($read-more-2x);
      display: block;
    }
  }
}

.global-horiz-item {
  @include transition(all ease 250ms);
  margin: 0 0 25px;
  padding: 40px 70px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #fff;

  @media screen and (max-width: 768px) {
    padding: 25px 15px;
  }

  &:hover {
    background: rgba(11, 60, 197, 0.05);
    border: 1px solid #517DE8;
    box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);
  }

  .horiz-item-label {
    @extend .dosis-semibold;
    margin: 0 0 15px;
    line-height: 27px;
    font-size: 20px;
    color: #1A2239;
  }
  
  .horiz-item-excerpt {
    @extend .nunito-regular;
    margin: 0 0 15px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(26, 34, 57, 0.6);
  }
  
  .horiz-item-more {
    @extend .dosis-bold;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #FF206E;

    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
    }
  }
}

.global-vert-item {
  @include transition(all ease 250ms);
  display: block;
  margin: 0 25px 90px;
  padding: 25px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  border: 1px solid transparent;

  @media screen and (max-width: 768px) {
    margin: 0 0 30px;
  }

  &:hover {
    text-decoration: none;
    background: rgba(11, 60, 197, 0.05);
    border: 1px solid #517DE8;
    box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);
  }
  
  .vert-item-icon {
    display: block;
    margin: 0 0 15px;

    &.lab {
      @include sprite($laboratoriais-2x);
    }

    &.body {
      @include sprite($imagem-2x);
    }

    &.heart {
      @include sprite($coracao-2x);
    }
  }

  .vert-item-label {
    @extend .dosis-semibold;
    display: block;
    margin: 0 0 15px;
    line-height: 29px;
    font-size: 24px;
    color: #1A2239;
  }

  .vert-item-excerpt {
    @extend .nunito-regular;
    display: block;
    margin: 0;
    line-height: 24px;
    font-size: 16px;
    color: rgba(26, 34, 57, 0.5);
  }
}

.global-form-group {
  margin-bottom: 30px;
}

.global-input {
  @extend .dosis-medium;
  display: block;
  margin: 0;
  padding: 0 0 30px;
  width: 100%;
  line-height: 18px;
  font-size: 14px;
  color: #1A2239;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(26, 34, 57, 0.2);

  @media screen and (max-width: 768px) {
    padding: 0 0 15px;
  }
}

.global-forgot {
  @extend .dosis-medium;
  text-transform: uppercase;
  line-height: 14px;
  font-size: 12px;
  color: #0B3CC5;
}

.global-create {
  @extend .nunito-regular;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 55px;
  border-radius: 8px;
  border: 1px solid #FF206E;
  text-align: center;
  line-height: 55px;
  font-size: 16px;
  color: #FF206E;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  a {
    b {
      @extend .nunito-bold;
    }
    color: #FF206E;
  }
}

.global-title {
  margin: 0 0 25px;
  line-height: 32px;
  font-size: 28px;
  text-align: center;
  color: #FF206E;
}

.global-file {
  @extend .dosis-medium;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 14px;
  color: #FF206E;

  input {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.global-submit {
  @extend .dosis-bold;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 55px;
  border: none;
  background: #FF206E;
  border-radius: 8px;
  line-height: 55px;
  font-size: 18px;
  color: #fff;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}



















