.wrapper.paciente {
  overflow-x: hidden;

  .main-center {
    position: relative;

    &:before,
    &:after {
      z-index: -1;
      display: block;
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 100%;
        
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &:before {
      right: 50%;
      background: #0B3CC5;
    }
    
    &:after {
      left: 50%;
      background: #E5E5E5; 
    }

    .content-left,
    .content-right {
      margin: 0 -15px;
      padding: 0 15px;
      padding-top: 90px;
      padding-bottom: 90px;

      @media screen and (max-width: 768px) {
        padding: 30px 15px;
        text-align: center;
      }
    }
    
    .content-left {
      padding-right: 40px;
      background: #0B3CC5;

      @media screen and (max-width: 768px) {
        padding-right: 15px;
      }

      .section-title,
      .section-excerpt {
        margin-bottom: 40px;
        color: #F9FAFC;
      }
      
      .section-title {
        position: relative;

        .edit-link {
          @extend .dosis-semibold;
          position: absolute;
          right: 0;
          bottom: 0;
          line-height: 28px;
          font-size: 16px;
          color: #FF206E;

          @media screen and (max-width: 768px) {
            display: block;
            position: initial;
          }
        }
      }
      
      .section-excerpt {
        &.wbb {
          padding-bottom: 90px;
          margin-bottom: 30px;
          border-bottom: 1px solid rgba(249, 250, 252, 0.2);

          @media screen and (max-width: 768px) {
            padding-bottom: 30px;
          }
        }
      }

      .scheduled-label {
        @extend .dosis-semibold;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(249, 250, 252, 0.4);
      }

      .scheduled-item {
        @extend .nunito-regular;
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(249, 250, 252, 0.4);
        line-height: 23px;
        font-size: 20px;
        color: #F9FAFC;
      }
      
      .consultas-list {
        margin: 0 0 30px 0;
        padding: 0 0 30px 0;
        list-style: none;
        border-bottom: 1px solid rgba(249, 250, 252, 0.2);

        .consultas-list-item {
          margin-bottom: 15px;

          &.active,
          &:hover {
            a {
              border: 2px solid #FF206E;
              color: #FF206E;
            }
          }

          a {
            @include transition(all ease 250ms);
            @extend .dosis-semibold;
            position: relative;
            padding: 0 25px;
            display: block;
            width: 100%;
            height: 64px;
            background: #fff;
            border-radius: 7px;
            border: 2px solid #fff;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            line-height: 64px;
            font-size: 16px;
            color: #1A2239;

            .badge {
              @extend .nunito-bold;
              position: absolute;
              top: 23px;
              right: 25px;
              display: block;
              width: 18px;
              height: 18px;
              background: #FF206E;
              border-radius: 9999px;
              text-align: center;
              line-height: 14px;
              font-size: 11px;
              color: #fff;
            }
          }
        }
      }

      .global-searchbar-form {
        .searchbar-form-input {
          left: 0;
        }
      }
    }

    .content-right {
      background: #E5E5E5;

      &.wbb {
        padding: 25px;
        padding-bottom: 0;
      }

      .back-button {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background: #0B3CC5;

        &:hover {
          .icon {
            @include transform(scale(1.1));
          }
        }

        .icon {
          @include transition(all ease 250ms);
          @include sprite($arrow-left-icon);
          position: relative;
          top: 17px;
          display: block;
          margin: 0 auto;
        }
      }

      .section-title {
        text-align: center;
        margin-bottom: 90px;
        text-transform: uppercase;
        line-height: 27px;
        font-size: 20px;
        color: #1A2239;

        @media screen and (max-width: 768px) {
          margin-bottom: 30px;
        }
      }

      .consulta-card {
        margin: 0 auto 15px;
        padding: 25px;
        width: 100%;
        max-width: 425px;
        height: auto;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        text-align: center;

        .consulta-card-content {

          .card-content-left,
          .card-content-right {
            float: left;
            text-align: left;
          }
          
          .card-content-left {
            width: 40%;
          }

          .card-content-right {
            width: 60%;
          }

          .card-content-label {
            @extend .dosis-regular;
            margin-bottom: 5px;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 13px;
            font-size: 10px;
            color: rgba(26, 34, 57, 0.5);
          }

          .card-content-desc {
            @extend .dosis-semibold;
            margin-bottom: 25px;
            line-height: 21px;
            font-size: 16px;
            color: #1A2239;
          }

          .bb {
            margin-bottom: 25px;
            float: left;
            width: 100%;
            height: 1px;
            background: rgba(0, 0, 0, 0.1);
          }

          .card-content-link {
            @extend .dosis-bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 14px;
            font-size: 14px;
            color: #FF206E;
          }
        }
      }

      .schedule-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        
        @media screen and (max-width: 768px) {
          margin: 0 -15px;
        }

        .schedule-list-item {
          @media screen and (max-width: 768px) {
            padding: 0 15px;
            display: block;
            float: left;
            width: 50%;
          }

          a {
            @include transition(all ease 150ms);
            display: block;
            margin: 0 auto 15px;
            padding: 25px;
            width: 280px;
            height: 210px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            text-align: center;

            @media screen and (max-width: 768px) {
              padding: 5px;
              width: 100%;
              height: 150px;

            }

            &:hover {
              box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
            }

            .icon {
              display: block;
              margin: 0 auto 25px;

              &.calendar {
                @include sprite($calendar-icon);
              }
              
              &.doctor {
                @include sprite($doctor-icon);
              }
            }

            .labe {
              display: block;
              text-transform: uppercase;
              line-height: 14px;
              font-size: 12px;
              color: rgba(26, 34, 57, 0.7);
            }
          }
        }
      }

      .schedule-form {
        margin: 90px auto 0;
        padding-bottom: 190px;
        width: 100%;
        max-width: 440px;

        .form-group {
          margin-bottom: 30px;
        }

        .section-title {
          text-transform: initial;
          font-size: 32px;
          color: #FF206E;
        }

        .schedule-form-label {
          @extend .dosis-semibold;
          margin-bottom: 15px;
          text-transform: uppercase;
          letter-spacing: 1px;
          line-height: 14px;
          font-size: 12px;
          color: rgba(26, 34, 57, 0.4);
        }

        .schedule-form-input {
          @extend .dosis-bold;
          pointer-events: none;
          padding-bottom: 15px;
          font-size: 20px;
          color: #000;
        }

        .schedule-form-radio {
          margin-bottom: 30px;
          cursor: pointer;
          position: relative;
          padding-left: 75px;
          width: 100%;
          height: 100px;
          border-radius: 10px;
          background: #fff;
          box-shadow: 3px 12px 15px rgba(0, 0, 0, 0.1);
          text-align: left;

          &.active {
            .radio-input {
              background: #FF206E;
            }
            
          }

          .radio-input {
            @include transition(all ease 250ms);
            position: absolute;
            top: 37.5px;
            left: 25px;
            width: 25px;
            height: 25px;
            border-radius: 9999px;
            border: 2px solid #FF206E;
          }

          .radio-name {
            @extend .dosis-medium;
            margin-bottom: 5px;
            line-height: 21px;
            font-size: 16px;
            color: #1A2239;
          }

          .radio-desc {
            @extend .dosis-regular;
            line-height: 21px;
            font-size: 16px;
            color: rgba(26, 34, 57, 0.4);
          }

          .pagseguro {
            @include sprite($pagseguro);
            position: absolute;
            right: 25px;
            bottom: 25px;

            @media screen and (max-width: 768px) {
              display: none;
            }
          }
        }

        .schedule-form-select {
          @extend .dosis-semibold;
          cursor: pointer;
          position: relative;
          width: 100%;
          height: 60px;
          background: #fff;
          border: 1px solid rgba(26, 34, 57, .25);
          line-height: 60px;
          font-size: 18px;
          color: #000;

          &.active {
            .schedule-form-select-selected {
              .arrow {
                @include transform(rotate(180deg));
              }
            }

            .schedule-form-select-list {
              display: block;
            }
          }
          
          .schedule-form-select-selected {
            position: relative;
            display: block;
            padding: 0 25px;
            width: 100%;
            height: 60px;

            .arrow {
              @include sprite($arrow-down);
              position: absolute;
              display: block;
              top: 24.5px;
              right: 25px;
            }
          }

          .schedule-form-select-list {
            display: none;
            position: absolute;
            z-index: 1;
            top: 59px;
            left: -1px;
            right: -1px;
            padding: 0;
            list-style: none;
            background: #fff;
            border: 1px solid rgba(26, 34, 57, .25);
            border-top: none;

            .schedule-form-select-list-item {
              @include transition(all ease 250ms);
              padding: 0 25px;
              border-bottom: 1px solid rgba(26, 34, 57, .25);

              &:hover {
                background: #FF206E;
                color: #fff;
              }

              &:last-child {
                border-bottom: none;
              }
            }
          }
        }

        .schedule-form-hours {
          @include transition(all ease 250ms);
          margin-bottom: 15px;
          padding: 25px;
          padding-bottom: 0;
          background: #fff;
          border: 1px solid rgba(26, 34, 57, .25);
          border-radius: 10px;

          &:hover,
          &.active {
            box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);
          }
          
          &.active {
            .schedule-form-hours-body {
              display: block;
            }
          }

          .schedule-form-hours-header {
            cursor: pointer;

            .doctor-thumb {
              float: left;
              margin-right: 25px;
              display: block;
              width: 40px;
              height: 40px;
              border-radius: 9999px;
            }

            .doctor-name {
              @extend .dosis-semibold;
              margin: 0 0 5px;
              line-height: 27px;
              font-size: 20px;
              color: #1A2239;
            }

            .doctor-info {
              @extend .dosis-regular;
              margin: 0 0 25px;
              text-transform: uppercase;
              line-height: 16px;
              font-size: 12px;
              color: rgba(26, 34, 57, 0.6);

              b {
                @extend .dosis-bold;
              }
            }
          }

          .schedule-form-hours-body {
            display: none;
            padding-bottom: 15px;

            .body-label {
              @extend .dosis-bold;
              margin: 0 0 15px;
              line-height: 14px;
              font-size: 12px;
              color: rgba(26, 34, 57, 0.6);
            }

            .body-list {
              margin: 0;
              padding: 0;
              list-style: none;

              .body-list-item {
                float: left;
                margin-bottom: 10px;
                padding: 0 5px;
                display: block;
                width: 20%;

                @media screen and (max-width: 768px) {
                  width: 33.33%;
                }

                &:hover,
                &.active {
                  a {
                    background: #FF206E;
                    color: #fff;
                  }
                }

                &.disabled {
                  pointer-events: none;
                  
                  a {
                    pointer-events: none;
                    border-color: #BEBEBE;
                    color: #BEBEBE;
                  }
                }

                a {
                  @include transition(all ease 250ms);
                  @extend .dosis-semibold;
                  display: block;
                  width: 100%;
                  height: 35px;
                  border-radius: 8px;
                  border: 1px solid #FF206E;
                  text-align: center;
                  text-decoration: none;
                  line-height: 35px;
                  font-size: 16px;
                  color: #1A2239;
                }
              }
            }
          }
        }

        .schedule-form-submit {
          @extend .dosis-extrabold;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          cursor: pointer;
          display: block;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100px;
          border: none;
          line-height: 100px;
          color: #fff;

          &:after {
            position: absolute;
            top: 0;
            left: 100%;
            display: block;
            content: "";
            width: 100%;
            height: 100px;
          }

          &.green {
            background: #37DB90;

            &:after {
              background: #37DB90;
            }
          }

          &.red {
            background: #FF206E;

            &:after {
              background: #FF206E;
            }
          }
        }

        .global-create {
          margin-top: 90px;
          border: none;
          border-top: 1px solid rgba(26, 34, 57, 0.1);
          color: #1A2239;
        }
      }
    }
  }
}






























