body.signin {
  background: url('./public/images/bg-footer-2x-1.png') -100px 100% no-repeat, url('/public/images/bg-footer-2x-2.png') 100px 100% no-repeat, url('/public/images/bg-gray.png');

  .wrapper {
    .signin-logo {
      @include sprite($logo-2-2x);
      margin: 120px auto;
      display: block;
      text-indent: -9999px;

      @media screen and (max-width: 768px) {
        @include transform(scale(0.8));
        margin: 30px auto;
      }
    }

    .signin-form {
      padding: 40px 25px;
      background: #fff;
      box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);

      .signin-title {
        @extend .dosis-bold;
        text-align: center;
        margin-bottom: 40px;
        line-height: 43px;
        font-size: 32px;
        color: #FF206E;

        @media screen and (max-width: 768px) {
          line-height: 28px;
          font-size: 28px;
        }
      }
    }

    .signin-link {
      @extend .nunito-bold;
      margin: 90px 0;
      text-align: center;
      display: block;
      line-height: 18px;
      font-size: 16px;
      color: #fff;

      @media screen and (max-width: 768px) {
        margin: 30px 0;
      }
    }
  }
}
