// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-down-2x-name: 'arrow-down-2x';
$arrow-down-2x-x: 278px;
$arrow-down-2x-y: 228px;
$arrow-down-2x-offset-x: -278px;
$arrow-down-2x-offset-y: -228px;
$arrow-down-2x-width: 10px;
$arrow-down-2x-height: 6px;
$arrow-down-2x-total-width: 302px;
$arrow-down-2x-total-height: 252px;
$arrow-down-2x-image: '/themes/drnahora/public/images/sprites.png';
$arrow-down-2x: (278px, 228px, -278px, -228px, 10px, 6px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-down-2x', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 278px;
$arrow-down-y: 189px;
$arrow-down-offset-x: -278px;
$arrow-down-offset-y: -189px;
$arrow-down-width: 18px;
$arrow-down-height: 11px;
$arrow-down-total-width: 302px;
$arrow-down-total-height: 252px;
$arrow-down-image: '/themes/drnahora/public/images/sprites.png';
$arrow-down: (278px, 189px, -278px, -189px, 18px, 11px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-down', );
$arrow-left-2-2x-name: 'arrow-left-2-2x';
$arrow-left-2-2x-x: 288px;
$arrow-left-2-2x-y: 200px;
$arrow-left-2-2x-offset-x: -288px;
$arrow-left-2-2x-offset-y: -200px;
$arrow-left-2-2x-width: 10px;
$arrow-left-2-2x-height: 16px;
$arrow-left-2-2x-total-width: 302px;
$arrow-left-2-2x-total-height: 252px;
$arrow-left-2-2x-image: '/themes/drnahora/public/images/sprites.png';
$arrow-left-2-2x: (288px, 200px, -288px, -200px, 10px, 16px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-left-2-2x', );
$arrow-left-4-2x-name: 'arrow-left-4-2x';
$arrow-left-4-2x-x: 289px;
$arrow-left-4-2x-y: 171px;
$arrow-left-4-2x-offset-x: -289px;
$arrow-left-4-2x-offset-y: -171px;
$arrow-left-4-2x-width: 11px;
$arrow-left-4-2x-height: 18px;
$arrow-left-4-2x-total-width: 302px;
$arrow-left-4-2x-total-height: 252px;
$arrow-left-4-2x-image: '/themes/drnahora/public/images/sprites.png';
$arrow-left-4-2x: (289px, 171px, -289px, -171px, 11px, 18px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-left-4-2x', );
$arrow-left-icon-name: 'arrow-left-icon';
$arrow-left-icon-x: 292px;
$arrow-left-icon-y: 156px;
$arrow-left-icon-offset-x: -292px;
$arrow-left-icon-offset-y: -156px;
$arrow-left-icon-width: 10px;
$arrow-left-icon-height: 14px;
$arrow-left-icon-total-width: 302px;
$arrow-left-icon-total-height: 252px;
$arrow-left-icon-image: '/themes/drnahora/public/images/sprites.png';
$arrow-left-icon: (292px, 156px, -292px, -156px, 10px, 14px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-left-icon', );
$arrow-right-2-2x-name: 'arrow-right-2-2x';
$arrow-right-2-2x-x: 278px;
$arrow-right-2-2x-y: 200px;
$arrow-right-2-2x-offset-x: -278px;
$arrow-right-2-2x-offset-y: -200px;
$arrow-right-2-2x-width: 10px;
$arrow-right-2-2x-height: 16px;
$arrow-right-2-2x-total-width: 302px;
$arrow-right-2-2x-total-height: 252px;
$arrow-right-2-2x-image: '/themes/drnahora/public/images/sprites.png';
$arrow-right-2-2x: (278px, 200px, -278px, -200px, 10px, 16px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-right-2-2x', );
$arrow-right-2x-name: 'arrow-right-2x';
$arrow-right-2x-x: 286px;
$arrow-right-2x-y: 216px;
$arrow-right-2x-offset-x: -286px;
$arrow-right-2x-offset-y: -216px;
$arrow-right-2x-width: 8px;
$arrow-right-2x-height: 12px;
$arrow-right-2x-total-width: 302px;
$arrow-right-2x-total-height: 252px;
$arrow-right-2x-image: '/themes/drnahora/public/images/sprites.png';
$arrow-right-2x: (286px, 216px, -286px, -216px, 8px, 12px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-right-2x', );
$arrow-right-3-2x-name: 'arrow-right-3-2x';
$arrow-right-3-2x-x: 278px;
$arrow-right-3-2x-y: 0px;
$arrow-right-3-2x-offset-x: -278px;
$arrow-right-3-2x-offset-y: 0px;
$arrow-right-3-2x-width: 24px;
$arrow-right-3-2x-height: 28px;
$arrow-right-3-2x-total-width: 302px;
$arrow-right-3-2x-total-height: 252px;
$arrow-right-3-2x-image: '/themes/drnahora/public/images/sprites.png';
$arrow-right-3-2x: (278px, 0px, -278px, 0px, 24px, 28px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-right-3-2x', );
$arrow-right-4-2x-name: 'arrow-right-4-2x';
$arrow-right-4-2x-x: 278px;
$arrow-right-4-2x-y: 171px;
$arrow-right-4-2x-offset-x: -278px;
$arrow-right-4-2x-offset-y: -171px;
$arrow-right-4-2x-width: 11px;
$arrow-right-4-2x-height: 18px;
$arrow-right-4-2x-total-width: 302px;
$arrow-right-4-2x-total-height: 252px;
$arrow-right-4-2x-image: '/themes/drnahora/public/images/sprites.png';
$arrow-right-4-2x: (278px, 171px, -278px, -171px, 11px, 18px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-right-4-2x', );
$arrow-right-5-2x-name: 'arrow-right-5-2x';
$arrow-right-5-2x-x: 278px;
$arrow-right-5-2x-y: 216px;
$arrow-right-5-2x-offset-x: -278px;
$arrow-right-5-2x-offset-y: -216px;
$arrow-right-5-2x-width: 8px;
$arrow-right-5-2x-height: 12px;
$arrow-right-5-2x-total-width: 302px;
$arrow-right-5-2x-total-height: 252px;
$arrow-right-5-2x-image: '/themes/drnahora/public/images/sprites.png';
$arrow-right-5-2x: (278px, 216px, -278px, -216px, 8px, 12px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'arrow-right-5-2x', );
$calendar-icon-name: 'calendar-icon';
$calendar-icon-x: 0px;
$calendar-icon-y: 68px;
$calendar-icon-offset-x: 0px;
$calendar-icon-offset-y: -68px;
$calendar-icon-width: 72px;
$calendar-icon-height: 72px;
$calendar-icon-total-width: 302px;
$calendar-icon-total-height: 252px;
$calendar-icon-image: '/themes/drnahora/public/images/sprites.png';
$calendar-icon: (0px, 68px, 0px, -68px, 72px, 72px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'calendar-icon', );
$coracao-2x-name: 'coracao-2x';
$coracao-2x-x: 131px;
$coracao-2x-y: 140px;
$coracao-2x-offset-x: -131px;
$coracao-2x-offset-y: -140px;
$coracao-2x-width: 66px;
$coracao-2x-height: 66px;
$coracao-2x-total-width: 302px;
$coracao-2x-total-height: 252px;
$coracao-2x-image: '/themes/drnahora/public/images/sprites.png';
$coracao-2x: (131px, 140px, -131px, -140px, 66px, 66px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'coracao-2x', );
$doctor-icon-name: 'doctor-icon';
$doctor-icon-x: 0px;
$doctor-icon-y: 140px;
$doctor-icon-offset-x: 0px;
$doctor-icon-offset-y: -140px;
$doctor-icon-width: 65px;
$doctor-icon-height: 72px;
$doctor-icon-total-width: 302px;
$doctor-icon-total-height: 252px;
$doctor-icon-image: '/themes/drnahora/public/images/sprites.png';
$doctor-icon: (0px, 140px, 0px, -140px, 65px, 72px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'doctor-icon', );
$facebook-2x-name: 'facebook-2x';
$facebook-2x-x: 278px;
$facebook-2x-y: 52px;
$facebook-2x-offset-x: -278px;
$facebook-2x-offset-y: -52px;
$facebook-2x-width: 24px;
$facebook-2x-height: 24px;
$facebook-2x-total-width: 302px;
$facebook-2x-total-height: 252px;
$facebook-2x-image: '/themes/drnahora/public/images/sprites.png';
$facebook-2x: (278px, 52px, -278px, -52px, 24px, 24px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'facebook-2x', );
$icon-check-name: 'icon-check';
$icon-check-x: 212px;
$icon-check-y: 66px;
$icon-check-offset-x: -212px;
$icon-check-offset-y: -66px;
$icon-check-width: 60px;
$icon-check-height: 45px;
$icon-check-total-width: 302px;
$icon-check-total-height: 252px;
$icon-check-image: '/themes/drnahora/public/images/sprites.png';
$icon-check: (212px, 66px, -212px, -66px, 60px, 45px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'icon-check', );
$imagem-2x-name: 'imagem-2x';
$imagem-2x-x: 65px;
$imagem-2x-y: 140px;
$imagem-2x-offset-x: -65px;
$imagem-2x-offset-y: -140px;
$imagem-2x-width: 66px;
$imagem-2x-height: 66px;
$imagem-2x-total-width: 302px;
$imagem-2x-total-height: 252px;
$imagem-2x-image: '/themes/drnahora/public/images/sprites.png';
$imagem-2x: (65px, 140px, -65px, -140px, 66px, 66px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'imagem-2x', );
$instagram-2x-name: 'instagram-2x';
$instagram-2x-x: 278px;
$instagram-2x-y: 76px;
$instagram-2x-offset-x: -278px;
$instagram-2x-offset-y: -76px;
$instagram-2x-width: 24px;
$instagram-2x-height: 24px;
$instagram-2x-total-width: 302px;
$instagram-2x-total-height: 252px;
$instagram-2x-image: '/themes/drnahora/public/images/sprites.png';
$instagram-2x: (278px, 76px, -278px, -76px, 24px, 24px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'instagram-2x', );
$laboratoriais-2x-name: 'laboratoriais-2x';
$laboratoriais-2x-x: 212px;
$laboratoriais-2x-y: 0px;
$laboratoriais-2x-offset-x: -212px;
$laboratoriais-2x-offset-y: 0px;
$laboratoriais-2x-width: 66px;
$laboratoriais-2x-height: 66px;
$laboratoriais-2x-total-width: 302px;
$laboratoriais-2x-total-height: 252px;
$laboratoriais-2x-image: '/themes/drnahora/public/images/sprites.png';
$laboratoriais-2x: (212px, 0px, -212px, 0px, 66px, 66px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'laboratoriais-2x', );
$logo-2-2x-name: 'logo-2-2x';
$logo-2-2x-x: 0px;
$logo-2-2x-y: 0px;
$logo-2-2x-offset-x: 0px;
$logo-2-2x-offset-y: 0px;
$logo-2-2x-width: 212px;
$logo-2-2x-height: 68px;
$logo-2-2x-total-width: 302px;
$logo-2-2x-total-height: 252px;
$logo-2-2x-image: '/themes/drnahora/public/images/sprites.png';
$logo-2-2x: (0px, 0px, 0px, 0px, 212px, 68px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'logo-2-2x', );
$logo-2x-name: 'logo-2x';
$logo-2x-x: 72px;
$logo-2x-y: 68px;
$logo-2x-offset-x: -72px;
$logo-2x-offset-y: -68px;
$logo-2x-width: 122px;
$logo-2x-height: 40px;
$logo-2x-total-width: 302px;
$logo-2x-total-height: 252px;
$logo-2x-image: '/themes/drnahora/public/images/sprites.png';
$logo-2x: (72px, 68px, -72px, -68px, 122px, 40px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'logo-2x', );
$logo-mobile-name: 'logo-mobile';
$logo-mobile-x: 0px;
$logo-mobile-y: 212px;
$logo-mobile-offset-x: 0px;
$logo-mobile-offset-y: -212px;
$logo-mobile-width: 41px;
$logo-mobile-height: 40px;
$logo-mobile-total-width: 302px;
$logo-mobile-total-height: 252px;
$logo-mobile-image: '/themes/drnahora/public/images/sprites.png';
$logo-mobile: (0px, 212px, 0px, -212px, 41px, 40px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'logo-mobile', );
$menu-mobile-name: 'menu-mobile';
$menu-mobile-x: 278px;
$menu-mobile-y: 120px;
$menu-mobile-offset-x: -278px;
$menu-mobile-offset-y: -120px;
$menu-mobile-width: 21px;
$menu-mobile-height: 18px;
$menu-mobile-total-width: 302px;
$menu-mobile-total-height: 252px;
$menu-mobile-image: '/themes/drnahora/public/images/sprites.png';
$menu-mobile: (278px, 120px, -278px, -120px, 21px, 18px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'menu-mobile', );
$pagseguro-name: 'pagseguro';
$pagseguro-x: 72px;
$pagseguro-y: 108px;
$pagseguro-offset-x: -72px;
$pagseguro-offset-y: -108px;
$pagseguro-width: 72px;
$pagseguro-height: 19px;
$pagseguro-total-width: 302px;
$pagseguro-total-height: 252px;
$pagseguro-image: '/themes/drnahora/public/images/sprites.png';
$pagseguro: (72px, 108px, -72px, -108px, 72px, 19px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'pagseguro', );
$phone-icon-2x-name: 'phone-icon-2x';
$phone-icon-2x-x: 278px;
$phone-icon-2x-y: 156px;
$phone-icon-2x-offset-x: -278px;
$phone-icon-2x-offset-y: -156px;
$phone-icon-2x-width: 14px;
$phone-icon-2x-height: 15px;
$phone-icon-2x-total-width: 302px;
$phone-icon-2x-total-height: 252px;
$phone-icon-2x-image: '/themes/drnahora/public/images/sprites.png';
$phone-icon-2x: (278px, 156px, -278px, -156px, 14px, 15px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'phone-icon-2x', );
$qualitare-2x-name: 'qualitare-2x';
$qualitare-2x-x: 41px;
$qualitare-2x-y: 212px;
$qualitare-2x-offset-x: -41px;
$qualitare-2x-offset-y: -212px;
$qualitare-2x-width: 73px;
$qualitare-2x-height: 16px;
$qualitare-2x-total-width: 302px;
$qualitare-2x-total-height: 252px;
$qualitare-2x-image: '/themes/drnahora/public/images/sprites.png';
$qualitare-2x: (41px, 212px, -41px, -212px, 73px, 16px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'qualitare-2x', );
$read-more-2x-name: 'read-more-2x';
$read-more-2x-x: 278px;
$read-more-2x-y: 138px;
$read-more-2x-offset-x: -278px;
$read-more-2x-offset-y: -138px;
$read-more-2x-width: 20px;
$read-more-2x-height: 18px;
$read-more-2x-total-width: 302px;
$read-more-2x-total-height: 252px;
$read-more-2x-image: '/themes/drnahora/public/images/sprites.png';
$read-more-2x: (278px, 138px, -278px, -138px, 20px, 18px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'read-more-2x', );
$search-2x-name: 'search-2x';
$search-2x-x: 212px;
$search-2x-y: 159px;
$search-2x-offset-x: -212px;
$search-2x-offset-y: -159px;
$search-2x-width: 48px;
$search-2x-height: 48px;
$search-2x-total-width: 302px;
$search-2x-total-height: 252px;
$search-2x-image: '/themes/drnahora/public/images/sprites.png';
$search-2x: (212px, 159px, -212px, -159px, 48px, 48px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'search-2x', );
$search-hover-2x-name: 'search-hover-2x';
$search-hover-2x-x: 212px;
$search-hover-2x-y: 111px;
$search-hover-2x-offset-x: -212px;
$search-hover-2x-offset-y: -111px;
$search-hover-2x-width: 48px;
$search-hover-2x-height: 48px;
$search-hover-2x-total-width: 302px;
$search-hover-2x-total-height: 252px;
$search-hover-2x-image: '/themes/drnahora/public/images/sprites.png';
$search-hover-2x: (212px, 111px, -212px, -111px, 48px, 48px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'search-hover-2x', );
$search-icon-2x-name: 'search-icon-2x';
$search-icon-2x-x: 278px;
$search-icon-2x-y: 100px;
$search-icon-2x-offset-x: -278px;
$search-icon-2x-offset-y: -100px;
$search-icon-2x-width: 20px;
$search-icon-2x-height: 20px;
$search-icon-2x-total-width: 302px;
$search-icon-2x-total-height: 252px;
$search-icon-2x-image: '/themes/drnahora/public/images/sprites.png';
$search-icon-2x: (278px, 100px, -278px, -100px, 20px, 20px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'search-icon-2x', );
$twitter-2x-name: 'twitter-2x';
$twitter-2x-x: 278px;
$twitter-2x-y: 28px;
$twitter-2x-offset-x: -278px;
$twitter-2x-offset-y: -28px;
$twitter-2x-width: 24px;
$twitter-2x-height: 24px;
$twitter-2x-total-width: 302px;
$twitter-2x-total-height: 252px;
$twitter-2x-image: '/themes/drnahora/public/images/sprites.png';
$twitter-2x: (278px, 28px, -278px, -28px, 24px, 24px, 302px, 252px, '/themes/drnahora/public/images/sprites.png', 'twitter-2x', );
$spritesheet-width: 302px;
$spritesheet-height: 252px;
$spritesheet-image: '/themes/drnahora/public/images/sprites.png';
$spritesheet-sprites: ($arrow-down-2x, $arrow-down, $arrow-left-2-2x, $arrow-left-4-2x, $arrow-left-icon, $arrow-right-2-2x, $arrow-right-2x, $arrow-right-3-2x, $arrow-right-4-2x, $arrow-right-5-2x, $calendar-icon, $coracao-2x, $doctor-icon, $facebook-2x, $icon-check, $imagem-2x, $instagram-2x, $laboratoriais-2x, $logo-2-2x, $logo-2x, $logo-mobile, $menu-mobile, $pagseguro, $phone-icon-2x, $qualitare-2x, $read-more-2x, $search-2x, $search-hover-2x, $search-icon-2x, $twitter-2x, );
$spritesheet: (302px, 252px, '/themes/drnahora/public/images/sprites.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
