url = "/agendar-2"
layout = "default"
==
<div class="col-12">
	<!-- Wrapper -->
	<div class="wrapper paciente">
		<div class="main-center">
			<div class="row">
				<div class="col-md-6">
					<div class="content-left">
						<h1 class="section-title">Clinico Geral</h1>
						<p class="section-excerpt">O Cardiologista é o médico que faz o diagnóstico e tratamento das doenças do coração e também do sistema circulatório.</p>
						<p class="section-excerpt">Além de tratar doenças como hipertensão, AVC e arritmia, o Cardiologista deve ser procurado para uma orientação preventiva.</p>
						<p class="section-excerpt wbb">Saiba mais</p>
						<form class="global-searchbar-form" method="GET" action="/medicos.html">
							<button class="searchbar-form-submit">Buscar</button>
							<input class="searchbar-form-input" type="text" placeholder="Pesquise por especialidade">
							<ul class="searchbar-form-auto">
								<li><b>Card</b>iologia</li>
								<li><b>Card</b>iografia</li>
							</ul>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="content-right wbb">
						<a class="back-button" href="/agendar-1.html" title="Voltar">
							<i class="icon"></i>
						</a>

						<form class="schedule-form" method="" action="/agendar-3.html">
							<div class="form-group">
								<div class="schedule-form-label">Especialidade</div>
								<div class="schedule-form-select">
									<input type="hidden" name="especialidade" value="0">
									<div class="schedule-form-select-selected"><span class="labe">Clinico Geral</span> <i class="arrow"></i></div>
									<ul class="schedule-form-select-list">
										<li class="schedule-form-select-list-item" data-value="0" data-label="Clinico Geral">Clinico Geral</li>
										<li class="schedule-form-select-list-item" data-value="1" data-label="Otorrino">Otorrino</li>
										<li class="schedule-form-select-list-item" data-value="2" data-label="Cardiologista">Cardiologista</li>
									</ul>
								</div>
							</div>

							<div class="form-group">
								<div class="schedule-form-label">Data</div>
								<div class="schedule-form-select">
									<input type="hidden" name="data" value="03/09/2018">
									<div class="schedule-form-select-selected">
										<span class="labe">03 de Setembro</span> <i class="arrow"></i>
									</div>
									<ul class="schedule-form-select-list">
										<li class="schedule-form-select-list-item" data-value="03/09/2018" data-label="03 de Setembro">
											03 de Setembro
										</li>
										<li class="schedule-form-select-list-item" data-value="04/09/2018" data-label="04 de Setembro">
											04 de Setembro
										</li>
										<li class="schedule-form-select-list-item" data-value="05/09/2018" data-label="05 de Setembro">
											05 de Setembro
										</li>
										<li class="schedule-form-select-list-item" data-value="06/09/2018" data-label="06 de Setembro">
											06 de Setembro
										</li>
									</ul>
								</div>
							</div>

							<div class="form-group">
								<input type="hidden" name="medico" value="">
								<input type="hidden" name="hora" value="">

								<div class="schedule-form-label">Médicos Disponíveis</div>
								<div class="schedule-form-hours">
									<div class="schedule-form-hours-header clearfix">
										<img class="doctor-thumb" src="/public/samples/doctor.jpeg" alt="">
										<h4 class="doctor-name">Gustavo Ramalho Vasconcelos</h4>
										<p class="doctor-info">CREFITO 8780 - <b>Cirurgiao</b></p>
									</div>
									<div class="schedule-form-hours-body">
										<div class="body-label">Selecione um horário:</div>
										<ul class="body-list clearfix">
											<li class="body-list-item" data-medico="1" data-hora="07:00">
												<a href="javascript:void(0);" title="07:00" rel="nofollow">
													07:00
												</a>
											</li>
											<li class="body-list-item" data-medico="1" data-hora="08:00">
												<a href="javascript:void(0);" title="08:00" rel="nofollow">
													08:00
												</a>
											</li>
											<li class="body-list-item" data-medico="1" data-hora="09:00">
												<a href="javascript:void(0);" title="09:00" rel="nofollow">
													09:00
												</a>
											</li>
											<li class="body-list-item" data-medico="1" data-hora="10:00">
												<a href="javascript:void(0);" title="10:00" rel="nofollow">
													10:00
												</a>
											</li>
											<li class="body-list-item" data-medico="1" data-hora="11:00">
												<a href="javascript:void(0);" title="11:00" rel="nofollow">
													11:00
												</a>
											</li>
											<li class="body-list-item" data-medico="1" data-hora="14:00">
												<a href="javascript:void(0);" title="14:00" rel="nofollow">
													14:00
												</a>
											</li>
											<li class="body-list-item" data-medico="1" data-hora="15:00">
												<a href="javascript:void(0);" title="15:00" rel="nofollow">
													15:00
												</a>
											</li>
											<li class="body-list-item" data-medico="1" data-hora="16:00">
												<a href="" title="">
													16:00
												</a>
											</li>
											<li class="body-list-item disabled" data-medico="1" data-hora="17:00">
												<a href="" title="">
													17:00
												</a>
											</li>
											<li class="body-list-item disabled" data-medico="1" data-hora="18:00">
												<a href="" title="">
													18:00
												</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="schedule-form-hours">
									<div class="schedule-form-hours-header clearfix">
										<img class="doctor-thumb" src="/public/samples/doctor.jpeg" alt="">
										<h4 class="doctor-name">Gustavo Ramalho Vasconcelos</h4>
										<p class="doctor-info">CREFITO 8780 - <b>Cirurgiao</b></p>
									</div>
									<div class="schedule-form-hours-body">
										<div class="body-label">Selecione um horário:</div>
										<ul class="body-list clearfix">
											<li class="body-list-item" data-medico="2" data-hora="07:00">
												<a href="javascript:void(0);" title="07:00" rel="nofollow">
													07:00
												</a>
											</li>
											<li class="body-list-item" data-medico="2" data-hora="08:00">
												<a href="javascript:void(0);" title="08:00" rel="nofollow">
													08:00
												</a>
											</li>
											<li class="body-list-item" data-medico="2" data-hora="09:00">
												<a href="javascript:void(0);" title="09:00" rel="nofollow">
													09:00
												</a>
											</li>
											<li class="body-list-item" data-medico="2" data-hora="10:00">
												<a href="javascript:void(0);" title="10:00" rel="nofollow">
													10:00
												</a>
											</li>
											<li class="body-list-item" data-medico="2" data-hora="11:00">
												<a href="javascript:void(0);" title="11:00" rel="nofollow">
													11:00
												</a>
											</li>
											<li class="body-list-item" data-medico="2" data-hora="14:00">
												<a href="javascript:void(0);" title="14:00" rel="nofollow">
													14:00
												</a>
											</li>
											<li class="body-list-item" data-medico="2" data-hora="15:00">
												<a href="javascript:void(0);" title="15:00" rel="nofollow">
													15:00
												</a>
											</li>
											<li class="body-list-item" data-medico="2" data-hora="16:00">
												<a href="" title="">
													16:00
												</a>
											</li>
											<li class="body-list-item disabled" data-medico="2" data-hora="17:00">
												<a href="" title="">
													17:00
												</a>
											</li>
											<li class="body-list-item disabled" data-medico="2" data-hora="18:00">
												<a href="" title="">
													18:00
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="form-group mb0">
								<button class="schedule-form-submit green" type="submit">
									Confirmar consulta
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
