url = "/agendar-3"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper paciente">
        <div class="main-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-left">
                        <h1 class="section-title">Clinico Geral</h1>
                        <p class="section-excerpt">O Cardiologista é o médico que faz o diagnóstico e tratamento das doenças do coração e também do sistema circulatório.</p>
                        <p class="section-excerpt">Além de tratar doenças como hipertensão, AVC e arritmia, o Cardiologista deve ser procurado para uma orientação preventiva.</p>
                        <p class="section-excerpt wbb">Saiba mais</p>
                        <form class="global-searchbar-form" method="GET" action="/medicos.html">
                            <button class="searchbar-form-submit">Buscar</button>
                            <input class="searchbar-form-input" type="text" placeholder="Pesquise por especialidade">
                            <ul class="searchbar-form-auto">
                                <li><b>Card</b>iologia</li>
                                <li><b>Card</b>iografia</li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-right wbb">
                        <a class="back-button" href="/agendar-2.html" title="Voltar">
                            <i class="icon"></i>
                        </a>

                        <form class="schedule-form pb0" method="" action="/agendar-4.html">
                            <h1 class="section-title">Tem uma conta?</h1>

                            <div class="form-group global-form-group">
                                <input class="global-input" type="email" name="email" placeholder="E-MAIL">
                            </div>
                            <div class="form-group global-form-group">
                                <input class="global-input" type="password" name="senha" placeholder="SENHA">
                            </div>
                            <div class="form-group global-form-group">
                                <a class="global-forgot" href="" title="Esqueceu a senha?">Esqueceu a senha?</a>
                            </div>
                            <div class="form-group global-form-group">
                                <button class="global-submit">Entrar</button>
                            </div>
                            <div class="form-group mb0">
                                <div class="global-create">Não tem uma conta? <a href="/cadastro.html" title="Clique aqui para criar">Clique aqui para criar</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
