url = "/blog"
layout = "default"
==
use \Qualitare\Blog\Models\Post;

function onLoadPosts(){
    $blog = new Post();
    return $blog->all()->load('category');
}
==
<div class="col-12" id="vue-search">
    <!-- Wrapper -->
    <div class="wrapper blog">
        <div class="row">
            <div class="col-12 d-none d-sm-block">
                <div class="blog-slides">
                    <div class="blog-slides-nav">
                        <button class="blog-slides-nav-button">Próximo <i class="icon"></i></button>
                    </div>
                    <div class="blog-slides-dots">
                        <ul>
                            <li class="active">
                                <button></button>
                            </li>
                            <li>
                                <button></button>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-slides-item" :class="{'active':index == 0}" v-for="(post, index) in features">
                        <div class="blog-slides-item-content">
                            <div class="main-center">
                                <div class="v-align">
                                    <div class="v-align-middle">
                                        <div class="blog-slides-item-info">
                                            <p class="info-label"><% post.category.title %></p>
                                            <h2 class="info-title"><% post.title %></h2>
                                            <a class="info-link" href="/post.html" :title="post.title">
                                                <span class="labe">Ler Mais</span>
                                                <i class="icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img :src="post.thumbnail.path" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="blog-header main-center">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="v-align">
                                <div class="v-align-middle">
                                    <h1 class="section-title">Notícias</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <form class="global-searchbar-form animated" method="GET" action="/blog.html">
                                <button class="searchbar-form-submit">
                                    <span class="icon"></span>
                                </button>
                                <input class="searchbar-form-input" type="text" placeholder="Faça sua busca">
                                <ul class="searchbar-form-auto">
                                    <li><b>Card</b>iologia</li>
                                    <li><b>Card</b>iografia</li>
                                </ul>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <div class="v-align">
                                <div class="v-align-middle">
                                    <ul class="global-dropdown-list">
                                        <li class="dropdown-list-item selected">Mais recentes <i class="dropdown-arrow"></i></li>
                                        <ul class="dropdown-sublist">
                                            <li class="dropdown-sublist-item">
                                                <a href="" title="Item 1">Item 1</a>
                                            </li>
                                            <li class="dropdown-sublist-item">
                                                <a href="" title="Item 2">Item 2</a>
                                            </li>
                                            <li class="dropdown-sublist-item">
                                                <a href="" title="Item 3">Item 3</a>
                                            </li>
                                            <li class="dropdown-sublist-item">
                                                <a href="" title="Item 4">Item 4</a>
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="main-center">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="global-blog-post-item" :href="'/post'" title="">
                                <span class="post-item-label">Pediatria</span>
                                <span class="post-item-title">Guia completo sobre Pediatria</span>
                                <img class="post-item-thumb" src="/public/samples/blog-post-item.png" alt="">
                                <span class="post-item-footer clearfix">
                          <span class="post-item-more float-left">
                            Leia mais
                          </span>
                          <i class="post-item-icon float-right"></i>
                        </span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="global-blog-post-item" href="/post.html" title="">
                                <span class="post-item-label">Pediatria</span>
                                <span class="post-item-title">Guia completo sobre Pediatria</span>
                                <img class="post-item-thumb" src="/public/samples/blog-post-item.png" alt="">
                                <span class="post-item-footer clearfix">
                          <span class="post-item-more float-left">
                            Leia mais
                          </span>
                          <i class="post-item-icon float-right"></i>
                        </span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="global-blog-post-item" href="/post.html" title="">
                                <span class="post-item-label">Pediatria</span>
                                <span class="post-item-title">Guia completo sobre Pediatria</span>
                                <img class="post-item-thumb" src="/public/samples/blog-post-item.png" alt="">
                                <span class="post-item-footer clearfix">
                          <span class="post-item-more float-left">
                            Leia mais
                          </span>
                          <i class="post-item-icon float-right"></i>
                        </span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="global-blog-post-item" href="/post.html" title="">
                                <span class="post-item-label">Pediatria</span>
                                <span class="post-item-title">Guia completo sobre Pediatria</span>
                                <img class="post-item-thumb" src="/public/samples/blog-post-item.png" alt="">
                                <span class="post-item-footer clearfix">
                          <span class="post-item-more float-left">
                            Leia mais
                          </span>
                          <i class="post-item-icon float-right"></i>
                        </span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="global-blog-post-item" href="/post.html" title="">
                                <span class="post-item-label">Pediatria</span>
                                <span class="post-item-title">Guia completo sobre Pediatria</span>
                                <img class="post-item-thumb" src="/public/samples/blog-post-item.png" alt="">
                                <span class="post-item-footer clearfix">
                          <span class="post-item-more float-left">
                            Leia mais
                          </span>
                          <i class="post-item-icon float-right"></i>
                        </span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="global-blog-post-item" href="/post.html" title="">
                                <span class="post-item-label">Pediatria</span>
                                <span class="post-item-title">Guia completo sobre Pediatria</span>
                                <img class="post-item-thumb" src="/public/samples/blog-post-item.png" alt="">
                                <span class="post-item-footer clearfix">
                          <span class="post-item-more float-left">
                            Leia mais
                          </span>
                          <i class="post-item-icon float-right"></i>
                        </span>
                            </a>
                        </div>
                        <div class="col-12 text-center">
                            <a class="global-link global-link-bottom nofill" href="" title="Ver Mais" rel="nofollow">Ver Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
