url = "/cadastro"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper">
        <div class="row">
            <div class="col-12">
                <a class="signin-logo" href="/index.html" title="Doutor na Hora">Doutor na Hora</a>
            </div>

            <div class="col-12 col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1">
                        <form class="signin-form" method="" action="">
                            <div class="form-group global-form-group">
                                <h1 class="signin-title">Cadastro</h1>
                            </div>

                            <div class="form-group global-form-group">
                                <input class="global-input" type="text" name="nome" placeholder="NOME">
                            </div>
                            <div class="form-group global-form-group">
                                <input class="global-input" type="email" name="email" placeholder="E-MAIL">
                            </div>
                            <div class="form-group global-form-group">
                                <input class="global-input" type="text" name="telefone" placeholder="TELEFONE">
                            </div>
                            <div class="form-group global-form-group">
                                <input class="global-input" type="password" name="senha" placeholder="SENHA">
                            </div>
                            <div class="form-group global-form-group">
                                <div class="global-file">
                                    <span>+ Adicionar foto de perfil</span>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="form-group global-form-group mb0">
                                <button class="global-submit" type="submit">Cadastrar-me</button>
                            </div>
                        </form>

                        <a class="signin-link" href="/login.html" title="Já tenho uma conta">Já tenho uma conta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
