url = "/consulta"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper consulta">

        <!-- Cabeçalho -->
        <div class="row">
            <div class="col-12">
                <div class="consulta-header">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 class="section-title">Clinico Geral</h1>
                            </div>
                            <div class="col-md-4 text-sm-left text-md-right">
                                <div class="v-align">
                                    <div class="v-align-middle">
                                        <span class="consulta-price">Valor: <b>R$ 80,00</b></span>
                                        <a class="global-link" href="/agendar-1.html" title="Agendar">Agendar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="main-center">
                    <div class="row">
                        <div class="col-md-5">
                            <article class="consulta-content">
                                <h3 class="consulta-content-title">Sobre o procedimento</h3>
                                <p>O Clínico Geral é o médico que trata de pacientes adultos, acompanhando diferentes doenças.</p>
                                <p><b>Alguns dos sintomas avaliados pelo Clínico Geral são:</b></p>
                                <ul>
                                    <li>Cefaleia</li>
                                    <li>Mal-estar em geral</li>
                                    <li>Tontura</li>
                                    <li>Fadiga</li>
                                    <li>Diarreia</li>
                                    <li>Constipação</li>
                                    <li>Dores no peito</li>
                                </ul>
                                <p>Para complemento da consulta, o médico poderá pedir alguns exames, como exames laboratoriais diversos, ecocardiograma, raio-X de tórax e ultrassonografia abdominal total.</p>
                            </article>
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <div class="consulta-content">
                                <h3 class="consulta-content-title">Médicos</h3>
                                <ul class="consulta-doctor-list">
                                    <li class="doctor-list-item clearfix">
                                        <img class="doctor-thumb" src="/public/samples/doctor.jpeg" alt="">
                                        <div class="doctor-name">Adams Demetrius Souza de Medeiros</div>
                                        <div class="doctor-info">CREFITO 140060 - <b>clinico geral</b></div>
                                    </li>
                                    <li class="doctor-list-item clearfix">
                                        <img class="doctor-thumb" src="/public/samples/doctor.jpeg" alt="">
                                        <div class="doctor-name">Adams Demetrius Souza de Medeiros</div>
                                        <div class="doctor-info">CREFITO 140060 - <b>clinico geral</b></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
