url = "/contato"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper contato">
        <div class="row">
            <div class="col-12">
                <div class="main-center">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="section-title"><b>Tem Dúvidas?</b><br>Entre em contato conosco</h1>
                        </div>
                        <div class="col-md-7 offset-md-1">
                            <form class="contato-form" action="">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="nome" placeholder="Nome">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="E-mail">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="telefone" placeholder="Telefone">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="mensagem" placeholder="Mensagem"></textarea>
                                </div>
                                <div class="form-group text-right mb0">
                                    <button type="submit">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="contato-maps">
                    <div class="contato-maps-panel">
                        <div class="main-center">
                            <div class="maps-panel-content">
                                <h2 class="maps-panel-title">Onde Estamos</h2>
                                <ul class="maps-panel-list global-dropdown-list mb0">
                                    <li class="dropdown-list-item selected text-left" style="color:#FF206E;opacity:1;"><span>Campina Grande</span> <i class="dropdown-arrow"></i></li>
                                    <ul class="dropdown-sublist">
                                        <li class="dropdown-sublist-item">
                                            <a href="javascript:void(0);" title="João Pessoa" data-target="joaopessoa" data-address="R. Pedro Juscelino de Aquino, 441 - Cidade Universitária, João Pessoa - PB, 58400-117" data-phone="(83) 3021-6376">João Pessoa</a>
                                        </li>
                                        <li class="dropdown-sublist-item">
                                            <a href="javascript:void(0);" title="Campina Grande" data-target="campinagrande" data-address="R. João Alves de Oliveira, 189 - Centro, Campina Grande - PB, 58400-117" data-phone="(83) 3322-2590">Campina Grande</a>
                                        </li>
                                    </ul>
                                </ul>
                                <p class="maps-panel-address">R. João Alves de Oliveira, 189 - Centro, Campina Grande - PB, 58400-117</p>
                                <p class="maps-panel-phone"><i class="icon"></i> <span>(83) 3322-2590</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="contato-maps-items">
                        <div id="map-unit-1" class="contato-maps-item active" data-target="campinagrande">
                        </div>
                        <div id="map-unit-2" class="contato-maps-item" data-target="joaopessoa">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
