url = "/exame-interna"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper exame-interna">

        <!-- Cabeçalho -->
        <div class="row">
            <div class="col-12">
                <div class="exame-header">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 class="section-title">Endoscopia digestiva alta</h1>
                            </div>
                            <div class="col-md-4 text-sm-left text-md-right">
                                <div class="v-align">
                                    <div class="v-align-middle">
                                        <span class="exame-price">Valor: <b>R$ 80,00</b></span>
                                        <a class="global-link" href="/agendar-1.html" title="Agendar">Agendar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="main-center">
                    <div class="row">
                        <div class="col-md-5">
                            <article class="exame-content">
                                <h3 class="exame-content-title">Orientações Gerais</h3>
                                <ul>
                                    <li>Trazer o pedido médico.</li>
                                </ul>
                                <ul>
                                    <li>É indispensável que o cliente permaneça acompanhado por um adulto capaz, desde o momento de sua chegada à unidade até o término do exame. Não recomendamos o acompanhante a trazer crianças no dia do exame e deverá comparecer munido de documento com foto.</li>
                                </ul>
                                <ul>
                                    <li>Paciente não poderá trabalhar, dirigir carro ou moto após o exame, tampouco pegar carona na garupa de moto.</li>
                                </ul>
                            </article>
                        </div>
                        <div class="col-md-6 offset-md-1 wrbg">
                            <article class="exame-content wrbg">
                                <h3 class="exame-content-title">Restrições</h3>
                                <ul>
                                    <li>Não realizados em pacientes com IMC (índice de massa corpórea) igual ou maior a 40 (obesidade grau III).</li>
                                </ul>
                                <ul>
                                    <li>Peso máximo 120 kg.</li>
                                </ul>
                                <ul>
                                    <li>Caso o cliente apresente dificuldade respiratória (ex. Asma em fase aguda, portadores de DPOC (Doença Pulmonar Obstrutiva Crônica) ou fizer uso de suporte de oxigênio para respirar) o exame não será realizado.</li>
                                </ul>
                                <ul>
                                    <li>Clientes com suspeita de gravidez durante os primeiros 3 meses não podem receber sedativos, o exame só poderá ser agendado a partir do 4º mês.</li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 wbbg">
                <div class="main-center">
                    <div class="row">
                        <div class="col-12">
                            <article class="exame-content pb0">
                                <h3 class="exame-content-title">Preparo</h3>
                            </article>
                        </div>
                        <div class="col-md-5">
                            <article class="exame-content pt0">
                                <ul>
                                    <li>Jejum de 12 horas (inclusive líquidos). Na véspera do exame poderá realizar alimentação dieta liquida (sopas e sucos).  Entre esta última refeição e o início do jejum de 12 horas, poderá realizar alimentação líquida (água, chá, água de coco, gelatina).</li>
                                </ul>
                                <ul>
                                    <li>Uso de medicamentos: tomar as medicações de uso habitual pela manhã com pequena quantidade de água, exceto:<br>- Medicações para diabetes não deverão ser tomadas no dia do exame;<br>- Medicações anticoagulantes/antiagregantes deverão ser suspensas com o consentimento do seu médico, pelo período de 7 dias (varfarina, clopidogrel, ticlopidona e ticagrelor), 2 dias (pradaxa e xarelto) e 24h (clexane). Aspirina (AAS) não precisa ser suspensa.</li>
                                </ul>
                            </article>
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <article class="exame-content pt0">
                                <ul>
                                    <li>Não usar adereços como: brincos, colares, salto alto, batom e próteses dentárias.  Vir sem esmaltes nas unhas.</li>
                                </ul>
                                <ul>
                                    <li>Clientes que estiverem amamentando devem ter um intervalo de 6 horas para amamentar novamente.</li>
                                </ul>
                                <ul>
                                    <li>Durante o exame, pode haver, se necessário, a indicação de biópsias ou polipectomias (retirada de pólipos). As amostras retiradas são encaminhadas para análise no laboratório (anatomopatológico).</li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
