url = "/exame"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper exame">

        <!-- Search Box -->
        <div class="row">
            <div class="col-12">
                <div class="global-search-box">
                    <div class="main-center">
                        <h1 class="section-title">Exames do Coração</h1>
                        <p class="section-label">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <form class="global-searchbar-form" method="GET" action="/exame.html">
                            <button class="searchbar-form-submit">Buscar</button>
                            <input class="searchbar-form-input" type="text" placeholder="Pesquise por exame">
                            <ul class="searchbar-form-auto">
                                <li><b>Card</b>iologia</li>
                                <li><b>Card</b>iografia</li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Order -->
        <div class="row">
            <div class="col-12">
                <div class="main-center">
                    <div class="col-md-2 offset-md-10">
                        <ul class="global-dropdown-list">
                            <li class="dropdown-list-item selected">Mais buscadas <i class="dropdown-arrow"></i></li>
                            <ul class="dropdown-sublist">
                                <li class="dropdown-sublist-item">
                                    <a href="" title="Item 1">Item 1</a>
                                </li>
                                <li class="dropdown-sublist-item">
                                    <a href="" title="Item 2">Item 2</a>
                                </li>
                                <li class="dropdown-sublist-item">
                                    <a href="" title="Item 3">Item 3</a>
                                </li>
                                <li class="dropdown-sublist-item">
                                    <a href="" title="Item 4">Item 4</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Horizontal items -->
        <div class="row">
            <div class="col-12">
                <div class="main-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="global-horiz-item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="horiz-item-label">Endoscopia digestiva alta</p>
                                        <p class="horiz-item-excerpt">Trazer o pedido médico - É indispensável que o cliente permaneça acompanhado por um adulto capaz, desde o momento de sua chegada à...</p>
                                        <a class="horiz-item-more" href="/exame-interna.html" title="Endoscopia digestiva alta">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="global-horiz-item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="horiz-item-label">Endoscopia digestiva alta</p>
                                        <p class="horiz-item-excerpt">Trazer o pedido médico - É indispensável que o cliente permaneça acompanhado por um adulto capaz, desde o momento de sua chegada à...</p>
                                        <a class="horiz-item-more" href="/exame-interna.html" title="Endoscopia digestiva alta">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="global-horiz-item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="horiz-item-label">Endoscopia digestiva alta</p>
                                        <p class="horiz-item-excerpt">Trazer o pedido médico - É indispensável que o cliente permaneça acompanhado por um adulto capaz, desde o momento de sua chegada à...</p>
                                        <a class="horiz-item-more" href="/exame-interna.html" title="Endoscopia digestiva alta">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="global-horiz-item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="horiz-item-label">Endoscopia digestiva alta</p>
                                        <p class="horiz-item-excerpt">Trazer o pedido médico - É indispensável que o cliente permaneça acompanhado por um adulto capaz, desde o momento de sua chegada à...</p>
                                        <a class="horiz-item-more" href="/exame-interna.html" title="Endoscopia digestiva alta">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="global-horiz-item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="horiz-item-label">Endoscopia digestiva alta</p>
                                        <p class="horiz-item-excerpt">Trazer o pedido médico - É indispensável que o cliente permaneça acompanhado por um adulto capaz, desde o momento de sua chegada à...</p>
                                        <a class="horiz-item-more" href="/exame-interna.html" title="Endoscopia digestiva alta">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <a class="global-link global-link-bottom nofill" href="" title="Ver Mais" rel="nofollow">Ver Mais</a>
            </div>
        </div>
    </div>
</div>
