url = "/inscricao"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper inscricao">
        <div class="row">
            <div class="col-12">
                <div class="main-center">
                    <div class="row">
                        <div class="col-md-4 offset-md-1">
                            <div class="v-align">
                                <div class="v-align-middle">
                                    <h1 class="section-title">Seja um Dr. na Hora!</h1>

                                    <p class="section-excerpt">Aproveite as horas vagas em sua agenda e descubra um jeito inteligente de atender seus pacientes, sem se preocupar com burocracia, contratação de funcionários e aluguel.</p>
                                    <a class="global-link" href="javascript:void(0);" title="Tenho Interesse" data-toggle="modal" data-target="#contato-modal">Tenho Interesse</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-1">
                            <img class="inscricao-thumb" src="{{'/public/samples/inscricao.jpg'|theme}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="inscricao-testimonials">
                    <p class="section-label">Depoimentos</p>
                    <h2 class="section-title">Opiniões dos nossos<br>médicos</h2>
                    <div class="inscricao-testimonials-slides">
                        <button class="inscricao-testimonials-slides-nav prev">
                            <span class="icon"></span>
                        </button>
                        <button class="inscricao-testimonials-slides-nav next">
                            <span class="icon"></span>
                        </button>
                        <div class="inscricao-testimonials-slides-dots"></div>
                        <div class="inscricao-testimonials-slides-items">
                            <div class="inscricao-testimonials-slides-item">
                                <button class="slides-item-icon" data-toggle="modal" data-target="#video-modal" data-video-id="AaIY_8k284I">
                                    <span class="icon"></span>
                                </button>
                                <img src="{{'/public/samples/testimonial-item-01.jpeg'|theme}}" alt="">
                            </div>
                            <div class="inscricao-testimonials-slides-item" data-toggle="modal" data-target="#video-modal" data-video-id="tX_mYa5z5LE">
                                <button class="slides-item-icon">
                                    <span class="icon"></span>
                                </button>
                                <img src="{{'/public/samples/testimonial-item-02.jpeg'|theme}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="inscricao-advantages main-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="section-title">Quais são as vantagens?</h1>
                            <p class="section-excerpt">Aproveite as horas vagas em sua agenda e descubra um jeito inteligente de atender <br>seus pacientes, sem se preocupar com burocracia, contratação de funcionários e aluguel.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="global-vert-item">
                                <i class="vert-item-icon lab"></i>
                                <span class="vert-item-label">Exames<br>Laboratoriais</span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="global-vert-item">
                                <i class="vert-item-icon lab"></i>
                                <span class="vert-item-label">Exames<br>Laboratoriais</span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="global-vert-item">
                                <i class="vert-item-icon lab"></i>
                                <span class="vert-item-label">Exames<br>Laboratoriais</span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="global-vert-item">
                                <i class="vert-item-icon lab"></i>
                                <span class="vert-item-label">Exames<br>Laboratoriais</span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="global-vert-item">
                                <i class="vert-item-icon lab"></i>
                                <span class="vert-item-label">Exames<br>Laboratoriais</span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="global-vert-item">
                                <i class="vert-item-icon lab"></i>
                                <span class="vert-item-label">Exames<br>Laboratoriais</span>
                                <span class="vert-item-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam officia, sit laudantium.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-none d-sm-block">
            <div class="col-12">
                <div class="inscricao-footer">
                    <div class="main-center">
                        <a class="inscricao-link" href="javascript:void(0);" title="Tenho interesse" data-toggle="modal" data-target="#contato-modal">
                      <span class="v-align">
                        <span class="v-align-middle">
                          Tenho interesse<br>de ser Dr. na Hora
                        </span>
                      </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="contato-modal">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1 class="section-title global-title">Tenho interesse</h1>
                    <form class="contato-form" action="/inscricao.html">
                        <input type="hidden" name="showModal" value="1">
                        <div class="form-group">
                            <input class="global-input" type="text" name="nome" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input class="global-input" type="email" name="email" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input class="global-input" type="text" name="telefone" placeholder="Telefone">
                        </div>
                        <div class="form-group">
                            <textarea class="global-input" name="mensagem" placeholder="Mensagem"></textarea>
                        </div>
                        <div class="form-group text-right mb0">
                            <button class="global-submit" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="success-modal" >
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class="icon-check"></i>
                    <div class="modal-success">Contato enviado<br>com sucesso</div>
                    <div class="modal-ok">OK</div>
                </div>
            </div>
        </div>
    </div>
</div>
