url = "/login"
layout = "default"
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper">
        <div class="row">
            <div class="col-12">
                <a class="signin-logo" href="/index.html" title="Doutor na Hora">Doutor na Hora</a>
            </div>

            <div class="col-12 col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1">
                        <form class="signin-form mb90" method="" action="">
                            <div class="form-group global-form-group">
                                <h1 class="signin-title">Login</h1>
                            </div>


                            <div class="form-group global-form-group">
                                <input class="global-input" type="email" name="email" placeholder="E-MAIL">
                            </div>
                            <div class="form-group global-form-group">
                                <input class="global-input" type="password" name="senha" placeholder="SENHA">
                            </div>
                            <div class="form-group global-form-group">
                                <a class="global-forgot" href="" title="Esqueceu a senha?">Esqueceu a senha?</a>
                            </div>
                            <div class="form-group global-form-group">
                                <button class="global-submit" type="submit">Entrar</button>
                            </div>
                            <div class="form-group global-form-group mb0">
                                <div class="global-create">
                                    <a href="/cadastro.html" title="Criar conta">Não tem uma conta? <b>Clique aqui</b></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
