url = "/medico/:id"
layout = "default"
==
use \Qualitare\Drnahora\Models\Medicos;

function onStart(){
	$medico = Medicos::find($this->controller->vars['this']['param']['id']);
	$this['medico'] = $medico;
  //  $shosp = new Shosp();
  //  return $shosp->getMedicos(null, $this->controller->vars['this']['param']['id']);

}
==
<div class="col-12">
    <!-- Wrapper -->
    <div class="wrapper medico">
        <div class="main-center">
            <div class="row">
                <div class="col-md-6">
									<img class="medico-photo" src="{{ medico.foto ? medico.foto.path : '' }}" alt="{{ medico.name }}">
                </div>
                <div class="col-md-4">
                    <article class="medico-article">
												<h1 class="medico-name">{{ medico.name }}</h1>
												<p class="medico-info">{{ response.orgao }}  {{ response.uf_orgao }} - {{ response.numeroConselhoClasse }}</p>
                        <p class="medico-topic">Especialidade</p>
												<ul>
													{% for especialidade in medico.especialidades %}
														<li>
															{{ especialidade.nomeEspecialidade }}
														</li>
													{% endfor %}
												</ul>
                        <p class="medico-topic">Formação</p>
                        <p class="medico-description">Universidade Federal do Maranhão - UFMA</p>
                        <p class="medico-topic">Residência</p>
                        <p class="medico-description">Instituto Superior de Medicina e Dermatologia</p>
                        <div class="medico-action">
                            <a class="global-link" href="/app/#/schedule/1" title="Agendar Consulta">Agendar Consulta</a>
                            <p class="global-link-label">Atende todas as idades</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
