url = "/post/:id"
layout = "default"
==
use \Qualitare\Blog\Models\Post;

function onStart(){
    $post = new Post();
    $id = $this->controller->vars['this']['param']['id'];
    $this['post'] = $post->find($id)->load('category');
    $this['related'] = $post->where('id', '<>', $id)
                            ->where('category_id', '=', $this['post']->category_id)
                            ->orderBy('created_at', 'DESC')
                            ->limit(3)
                            ->get();
}
==

<div class="col-12">
    <!-- Wrapper -->
    <article class="wrapper post">
        <div class="row">
            <div class="col-12">
                <header class="post-header">
                    <div class="post-header-content">
                        <div class="v-align">
                            <div class="v-align-middle">
                                <p class="section-label">{{post.category.name}}</p>
                                <h1 class="section-title">{{post.title}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="post-header-gradient"></div>
                    <img src="{{post.thumbnail.path}}" alt="">
                </header>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="post-content">
                    {{post.content}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="post-related">
                    <div class="main-center">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="section-title">Relacionados</h2>
                            </div>
                            {% for r in related %}
                            <div class="col-md-4">
                                <a class="global-blog-post-item" href="/post/{{r.id}}" title="{{r.title}}">
                                    <span class="post-item-label">{{r.category.title}}</span>
                                    <span class="post-item-title">{{r.title}}</span>
                                    <img class="post-item-thumb" src="{{r.thumbnail.path}}" alt="">
                                    <span class="post-item-footer clearfix">
                            <span class="post-item-more float-left">
                              Leia mais
                            </span>
                            <i class="post-item-icon float-right"></i>
                          </span>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
