<template>
	<div class="dr-card-appointment">
		<div class="dr-card-appointment__field">
			<dr-text type="label">
				Especialidade
			</dr-text>
			<dr-text type="strong">
				{{ speciality }}
			</dr-text>
		</div>
		<div class="dr-card-appointment__field">
			<dr-text type="label">
				Médico
			</dr-text>
			<dr-text type="strong">
				{{ doctor }}
			</dr-text>
		</div>
		<div class="dr-card-appointment__field">
			<dr-text type="label">
				Data
			</dr-text>
			<dr-text type="strong">
				{{ date }}
			</dr-text>
		</div>
		<div class="dr-card-appointment__field">
			<dr-text type="label">
				Horário
			</dr-text>
			<dr-text type="strong">
				{{ time }}
			</dr-text>
		</div>
        <div style="display: flex; width: 100%;">
            <a :href="`https://www.google.com/maps/search/?api=1&query=`+endereco"
                class="dr-card-appointment__action"
                v-if="endereco"
               target="_blank"
               style="text-decoration: none;"
            >
                Como chegar
            </a>
            <button
                class="dr-card-appointment__action"
                v-if="action"
                @click="$emit('callback', $event)"
            >
                {{ action }}
            </button>
        </div>

	</div>
</template>

<script>
import DRText from '../atoms/DRText.vue'

export default {
	components: {
		'dr-text': DRText
	},

	props: {
		speciality: {
			type: String,
			default: 'Clinico Geral'
		},
		doctor: {
			type: String,
			default: 'Adriana de Jesus Pires Brito'
		},
		date: {
			type: String,
			default: '13/04 - Sexta-Feira'
		},
		time: {
			type: String,
			default: 'às 10:00'
		},
        endereco: {
            type: String,
            default: ''
        },
		action: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss">
.dr-card-appointment{
	box-shadow: 0 4px 4px rgba(black, .1);
	border-radius: 10px;
	display: flex;
	flex-flow: row wrap;
	padding: 12px 32px;
	background: white;
	&__field{
		padding: 12px 0;
		box-sizing: border-box;
	}
	&__action{
		border: 0;
		border-top: 1px solid rgba(black, .1);
		padding: 16px;
		margin-bottom: -12px;
		margin-top: 20px;
		width: 100%;
		color: $c-accent;
		font-size: 11px;
		font-family: Dosis;
		font-weight: 700;
		letter-spacing: .1em;
		text-transform: uppercase;
		cursor: pointer;
		background: transparent;
	}
	@include grid-media($desktop-grid) {
		.dr-card-appointment{
			&__field{
				width: 50%;
			}
		}
	}
}
</style>
