<template>
	<div
		class="dr-card-doctor"
		:class="{ 'is-active': active }"
		@click="$emit('click', $event)"
        ref="dr-card-doctor"
	>
		<div class="dr-card-doctor__header">
			<dr-avatar
				class="dr-card-doctor__thumbnail"
				size="lg"
				:value="avatar"
			/>

			<div class="dr-card-doctor__wrapper">
				<dr-text class="dr-card-doctor__name" type="strong" v-html="name" />
				<dr-text class="dr-card-doctor__document" type="body" v-html="document" />
				<dr-text class="dr-card-doctor__unit" type="body" v-html="unit" />
			</div>
		</div>

		<transition>
			<div class="dr-card-doctor__availability">
				<dr-input-time
					class="dr-card-doctor__times"
					label="Horários disponíveis"
					:options="availability"
					:value="value"
					@input="$emit('input', $event)"
				/>

				<dr-button
					class="dr-card-doctor__button"
					theme="accent"
					size="md"
					:disabled="!availability.includes(value)"
					:filled="true"
					@click="$emit('select', value)"
				>
					Marcar
				</dr-button>
			</div>
		</transition>
	</div>
</template>

<script>
import DRAvatar from '@/components/atoms/DRAvatar.vue'
import DRText from '@/components/atoms/DRText.vue'
import DRInputTime from '@/components/molecules/DRInputTime.vue'
import DRButton from '@/components/atoms/DRButton.vue'

export default {
	components: {
		'dr-avatar': DRAvatar,
		'dr-text': DRText,
		'dr-input-time': DRInputTime,
		'dr-button': DRButton
	},

	props: {
		value: {
			type: String,
			default: ''
		},
		avatar: {
			type: String,
			default: ''
		},
		name: {
			type: String,
			default: 'John Doe Holmes'
		},
		document: {
			type: String,
			default: 'CRL-SP 16012'
		},
		unit: {
			type: String,
			default: 'Unidade Campina Grande'
		},
		availability: {
			type: Array,
			default: () => ['23:00']
		},
		active: {
			type: Boolean,
			default: false
		}
	},

    mounted() {
	    this.trigger();
        console.log('mounted')
    },

    methods: {
        trigger () {
            this.$refs.dr-card-doctor.click();
            console.log('TRIGGER')
        }
    }
}
</script>

<style lang="scss">
.dr-card-doctor{
	clear: both;
	background: white;
	border-radius: 7px;
	border: 1px solid rgba(26, 34, 57, 0.08);
	margin-bottom: 20px;
	cursor: pointer;
	&__header{
		padding: 16px;
		display: flex;
		align-items: center;
	}
	&__wrapper{
		flex: 1;
	}
	&__thumbnail{
		margin-right: 16px;
	}
	&__title{
	}
	&__document{
		text-transform: uppercase;
	}
	&__document,
	&__unit{
		margin: 0;
		opacity: .4;
		font-weight: 600;
	}
	/*&__availability{*/
	/*	display: none;*/
	/*}*/
	&__times{
		margin: 0;
		padding: 4px 16px 8px;
	}
	&__button{
		width: 100%;
		border-radius: 0 0 7px 7px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.1em;
	}

	&.is-active{
		.dr-card-doctor{
			&__header{
				border-bottom: 1px solid rgba(26, 34, 57, 0.08);
			}
			&__availability{
				display: block;
			}
		}
	}
}
</style>
