<template>
	<div class="dr-input-select" tabindex="0"
		:class="{
			'is-focused': focused,
			'is-outlined': outlined
		}"
		@focus="onFocus"
		@blur="onBlur"
	>
		<dr-text class="dr-input-select__label" type="label" v-if="label">
			{{ label }}
		</dr-text>

		<div class="dr-input-select__wrapper">
			<span class="dr-input-select__field">
				{{ options[value] || placeholder }}
			</span>
			<span class="dr-input-select__arrow icon icon-arrow-down">
			</span>
		</div>

		<div class="dr-input-select__dropdown">
			<div
				class="dr-input-select__option"
				v-for="(option, key) in options"
				:key="key"
				:class="{'is-active': key == value}"
				@click="onChange(key)"
			>
				{{ option }}
			</div>
		</div>
	</div>
</template>

<script>
import DRText from '../atoms/DRText.vue'

export default {
	components: {
		'dr-text': DRText,
	},

	props: {
		label: {
			type: String,
			default: ''
		},
		value: {
			type: String|Number,
			default: ''
		},
		options: {
			type: Object,
			default: () => ({
				health: 'Saúde',
				beauty: 'Beleza',
				nutrition: 'Nutrição',
			})
		},
		placeholder: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			default: 'text'
		},
		outlined: {
			type: Boolean,
			default: false
		}
	},

	data: () => ({
		focused: false
	}),

	methods: {
		onFocus(event) {
			this.$emit('focus', event)
			this.focused = true
		},
		onBlur(event) {
			this.$emit('blur', event)
			this.focused = false
		},
		onChange(value) {
			this.$emit('input', value)
			this.$el.blur()
		}
	}
}
</script>

<style lang="scss">
.dr-input-select{
	display: block;
	margin: 32px 0;
	position: relative;
	&__label{
		margin-bottom: 0;
	}
	&__wrapper{
		position: relative;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(black, .1);
		&:before{
			content: "";
			position: absolute;
			bottom: -1px;
			width: 0%;
			border-bottom: 2px solid $c-accent;
			display: inline-block;
			transition: width .2s $easeInOutQuad, border-color .1s $easeInOutQuad;
		}
	}
	&__field{
		width: 100%;
		border: 0;
		padding: 15px 0;
		background: transparent;
		font-weight: 600;
		font-family: Dosis;
		display: block;
		cursor: pointer;
		position: relative;
	}
	&__arrow{
		margin: 0 16px;
		color: rgba(black, .2);
	}
	&__dropdown{
		padding: 8px 0;
		background: white;
		box-shadow: 3px 12px 30px rgba(black, .1);
		border-radius: 0 0 7px 7px;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		max-height: 180px;
		z-index: 30;
		overflow: auto;
		transition: .2s $easeInOutQuad;
	}
	&__option{
		width: 100%;
		text-align: left;
		padding: 8px 20px;
		border: 0;
		background: transparent;
		font-family: Dosis;
		font-weight: 600;
		border-left: 2px solid transparent;
		cursor: pointer;
		&.is-active{
			background: $c-lightgrey;
			border-color: $c-accent;
		}
		&:hover{
			background: $c-lightgrey;
		}
	}

	&.is-focused{
		.dr-input-select{
			&__wrapper{
				&:before{
					width: 100%;
				}
			}
			&__dropdown{
				opacity: 1;
				visibility: visible;
				height: 200px;
			}
		}
	}


	&.is-outlined{
		.dr-input-select{
			&__label{
				margin-bottom: 16px;
			}
			&__field{
				border-bottom: 0;
				padding-left: 20px;
				padding-right: 20px;
			}
			&__wrapper{
				border: 1px solid rgba($c-black, .1);
				background: white;
				&:before{
					width: auto;
					top: -1px;
					left: -1px;
					bottom: -1px;
					right: -1px;
					border: 2px solid transparent;
				}
			}
		}
	}

	&.is-outlined.is-focused{
		.dr-input-select{
			&__wrapper{
				&:before{
					border-color: $c-accent;
				}
			}
		}
	}

}

.dr-dark{
	.dr-input-select{
		&__field{
			color: white;
		}
		&__wrapper{
			border-bottom: 1px solid rgba(white, .1);
		}
		&__arrow{
			color: rgba(white, .3);
		}
		&.is-outlined{
			.dr-input-select{
				&__wrapper{
					background: transparent;
					border-color: rgba(white, .1);
				}
			}
		}
	}
}
</style>
