<template>
	<div class="dr-input-date"
		:class="{
			'is-focused': focused,
			'is-outlined': outlined
		}"
	>
		<dr-text class="dr-input-date__label" type="label" v-if="label">
			{{ label }}
		</dr-text>

		<div class="dr-input-date__wrapper">
			<v-date-picker
				mode="single"
				:value="value"
				@input="$emit('input', $event)"
			>
				<input slot-scope="props"
					class="dr-input-date__field"
					:type="type"
					:placeholder="placeholder"
					:value="props.inputValue"
					@focus="onFocus"
					@blur="onBlur"
				>
			</v-date-picker>
			<span class="dr-input-date__arrow icon icon-arrow-down">
			</span>
		</div>
	</div>
</template>

<script>
import DRText from '../atoms/DRText.vue'

export default {
	components: {
		'dr-text': DRText,
	},

	props: {
		label: {
			type: String,
			default: ''
		},
		value: {
			type: Date,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			default: 'text'
		},
		outlined: {
			type: Boolean,
			default: false
		}
	},

	data: () => ({
		focused: false
	}),

	methods: {
		onFocus(event) {
			this.$emit('focus', event)
			this.focused = true
		},
		onBlur(event) {
			this.$emit('blur', event)
			this.focused = false
		},
		onChange(value) {
			this.$emit('input', value)
		}
	}
}
</script>

<style lang="scss">
.dr-input-date{
	display: block;
	margin: 32px 0;
	position: relative;
	&__label{
		margin-bottom: 0;
	}
	&__wrapper{
		position: relative;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(black, .1);
		&:before{
			content: "";
			position: absolute;
			bottom: -1px;
			width: 0%;
			border-bottom: 2px solid $c-accent;
			display: inline-block;
			transition: width .2s $easeInOutQuad, border-color .1s $easeInOutQuad;
		}
	}
	&__field{
		width: 100%;
		border: 0;
		padding: 15px 0;
		background: transparent;
		font-weight: 600;
		font-family: Dosis;
		display: block;
		cursor: pointer;
		&::placeholder{
			color: rgba(black, .3);
		}
	}
	&__arrow{
		margin: 0 16px;
		color: rgba(black, .2);
	}
	&__option{
		width: 100%;
		text-align: left;
		padding: 8px 16px;
		border: 0;
		background: transparent;
		font-family: Dosis;
		font-weight: 600;
		border-left: 2px solid transparent;
		&.is-active{
			background: $c-lightgrey;
			border-color: $c-accent;
		}
	}
	.popover-container{
		width: 100%;
	}

	&.is-focused{
		.dr-input-date{
			&__wrapper{
				&:before{
					width: 100%;
				}
			}
		}
	}


	&.is-outlined{
		.dr-input-date{
			&__label{
				margin-bottom: 16px;
			}
			&__field{
				border-bottom: 0;
				padding-left: 20px;
				padding-right: 20px;
			}
			&__wrapper{
				border: 1px solid rgba($c-black, .1);
				background: white;
				&:before{
					width: auto;
					top: -1px;
					left: -1px;
					bottom: -1px;
					right: -1px;
					border: 2px solid transparent;
				}
			}
		}
	}

	&.is-outlined.is-focused{
		.dr-input-date{
			&__wrapper{
				&:before{
					border-color: $c-accent;
				}
			}
		}
	}

}

.dr-dark{
	.dr-input-date{
		&__field{
			color: white;
			&::placeholder{
				color: rgba(white, .3);
			}
		}
		&__wrapper{
			border-bottom: 1px solid rgba(white, .1);
		}
		&__arrow{
			color: rgba(white, .3);
		}
		&.is-outlined{
			.dr-input-date{
				&__wrapper{
					background: transparent;
					border-color: rgba(white, .1);
				}
			}
		}
	}
}
</style>
