<template>
	<label class="dr-input-search">
		<input
			type="text"
			class="dr-input-search__field"
			:placeholder="label"
			@input="$emit('input', $event.target.value)"
			@keydown="onKeydown"
			@focus="focused = true"
			@blur="focused = false"
		>
		<dr-button-icon
			class="dr-input-search__icon"
			name="search"
			theme="accent"
			:filled="true"
			:rounded="true"
		/>

		<transition name="fade">
			<div class="dr-input-search__dropdown" v-if="Object.values(options).length > 0 && focused">
				<div
					class="dr-input-search__option"
					v-for="(option, key) in options"
					:key="key"
					@click="onOptionClick($event, key)"
				>
					{{ option }}
				</div>
			</div>
		</transition>
	</label>
</template>

<script>
import DRButtonIcon from '../atoms/DRButtonIcon.vue'

export default {
	components: {
		'dr-button-icon': DRButtonIcon
	},

	props: {
		value: {
			type: String,
			default: ''
		},
		delay: {
			type: Number,
			default: 400
		},
		label: {
			type: String,
			default: 'Pesquisar'
		},
		options: {
			type: Object,
			default: () => ({})
		}
	},

	data: () => ({
		timer: null,
		focused: false
	}),

	methods: {
		onKeydown(event) {
			clearTimeout(this.timer)

			this.timer = setTimeout(() => {
				this.$emit('search', event.target.value)
			}, this.delay)
		},

		onOptionClick(event, value) {
			event.preventDefault()
			this.$emit('select', value)
		}
	}
}
</script>

<style lang="scss">
.dr-input-search{
	border-radius: 10px;
	box-shadow: 0 4px 4px rgba(black, .1);
	background: white;
	padding: 16px;
	display: flex;
	position: relative;
	align-items: center;
	&__field{
		flex: 1;
		background: transparent;
		border: 0;
		font-family: Nunito, Helvetica, Dosis;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.006em;
		padding: 16px;
		&::placeholder{
			color: rgba(black, .3);
		}
	}
	&__icon{
	}
	&__dropdown{
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		transform: translate(0, -10px);
		border-radius: 0 0 10px 10px;
		background: white;
		overflow: hidden;
		max-height: 200px;
		z-index: 200;
		box-shadow: 0 4px 4px rgba(black, .1);
		padding: 10px 0;
	}
	&__option{
		cursor: pointer;
		padding: 15px 20px;
		font-family: Dosis;
		font-weight: 700;
		color: $c-black;
		&:hover{
			background: $c-lightgrey;
			color: $c-accent;
		}
	}
}
</style>
