<template>
	<div class="dr-input-list">
		<dr-text class="dr-input-list__label" type="label">
			{{ label }}
		</dr-text>

		<dr-list-item
			class="dr-input-list__option"
			v-for="(option, key) in options"
			:key="key"
			:active="value == key"
			@click="$emit('input', key)"
		>
			<dr-avatar class="dr-input-list__thumbnail" :value="option.thumbnail" v-if="option.thumbnail" slot="prefix">
			</dr-avatar>

			<dr-text class="dr-input-list__title" type="strong" v-html="option.title">
			</dr-text>

			<dr-text class="dr-input-list__caption" type="label" v-html="option.caption">
			</dr-text>
		</dr-list-item>
	</div>
</template>

<script>
import DRAvatar from '../atoms/DRAvatar.vue'
import DRText from '../atoms/DRText.vue'
import DRListItem from '../atoms/DRListItem.vue'

export default {
	components: {
		'dr-avatar': DRAvatar,
		'dr-text': DRText,
		'dr-list-item': DRListItem,
	},

	props: {
		label: {
			type: String,
			default: ''
		},
		value: {
			type: String|Number,
			default: null
		},
		options: {
			type: Object,
			default: () => ({
				1: {
					thumbnail: 'https://placeimg.com/640/480/people',
					title: 'Gustavo Ramalho de Vasconselos',
					caption: 'Credito 8780 - <b>Cirurgião</b>'
				}
			})
		}
	}
}
</script>

<style lang="scss">
.dr-input-list{
	margin: 32px 0;
	&__option{
	}
	&__title{
		color: $c-black !important;
	}
	&__caption{
		color: rgba(26, 34, 57, 0.4) !important;
		margin: 0;
	}
	&__thumbnail{
		margin-right: 24px;
		flex-shrink: 0;
	}
}
</style>
