<template>
	<div class="dr-item-speciality" :class="{ 'is-active': active }" @click="$emit('click', $event)">
		<div class="dr-item-speciality__wrapper">
			<img class="dr-item-speciality__icon" :src="icon">
		</div>
		<dr-text class="dr-item-speciality__label">
			{{ label }}
		</dr-text>
	</div>
</template>

<script>
import DRText from '@/components/atoms/DRText.vue'

export default {
	components: {
		'dr-text': DRText
	},

	props: {
		active: {
			type: Boolean,
			default: false
		},
		label: {
			type: String,
			default: 'Angiologia'
		},
		icon: {
			type: String,
			default: '/themes/drnahora/public/images/angiologia.svg'
		}
	}
}
</script>

<style lang="scss">
.dr-item-speciality{
	display: inline-block;
	cursor: pointer;
	&__wrapper{
		transition: all ease 250ms;
		display: flex;
		margin: 0 0 15px;
		width: 135px;
		height: 135px;
		background: #fff;
		border: 2px solid transparent;
		border-radius: 5px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		position: relative;
		align-items: center;
		justify-content: center;
		z-index: 10;

		&:before,
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 9999px;
		}

		&:before{
			width: 106px;
			height: 106px;
			background: rgba(11, 60, 197, 0.05);
			z-index: -2;
			transition: .2s $easeInOutQuad;
		}
		&:after{
			width: 67px;
			height: 67px;
			background: rgba(11, 60, 197, 0.15);
			z-index: -1;
			transition: .2s $easeInOutQuad .1s;
		}
	}
	&__icon{
		width: 45px;
		height: auto;
		transition: .2s $easeInOutQuad;
	}
	&__label{
		font-family: Dosis;
		font-weight: 600;
		line-height: 24px;
		font-size: 16px;
		color: #000;
		display: block;
		text-align: center;
	}

	&.is-active,
	&:hover{
		.dr-item-speciality{
			&__wrapper{
				border: 2px solid #FF206E;
				box-shadow: 3px 12px 30px rgba(0, 0, 0, 0.1);
				&:before,
				&:after{
					transform: translate(-50%, -50%) scale(1.05);
				}
			}
			&__icon{
				transform: scale(1.1);
			}
		}
	}
}
</style>
