<template>
	<div class="dr-toggle-shift">
		<dr-text class="dr-toggle-shift__label" type="label">
			{{ label }}
		</dr-text>

		<div class="dr-toggle-shift__options">
			<button
				class="dr-toggle-shift__option"
				:class="{'is-active': value == 'morning'}"
				data-label="Manhã"
				:disabled="!morning"
				@click="onClick('morning')"
			>
				<dr-icon
					name="sun"
					:theme="value == 'morning' ? 'accent' : 'default'"
				/>
			</button>

			<button
				class="dr-toggle-shift__option"
				:class="{'is-active': value == 'afternoon'}"
				data-label="Tarde"
				:disabled="!afternoon"
				@click="onClick('afternoon')"
			>
				<dr-icon
					name="sundown"
					:theme="value == 'afternoon' ? 'accent' : 'default'"
				/>
			</button>

			<button
				class="dr-toggle-shift__option"
				:class="{'is-active': value == 'night'}"
				data-label="Noite"
				:disabled="!night"
				@click="onClick('night')"
			>
				<dr-icon
					name="moon"
					:theme="value == 'night' ? 'accent' : 'default'"
				/>
			</button>
		</div>
	</div>
</template>

<script>
import DRIcon from '@/components/atoms/DRIcon.vue'
import DRText from '@/components/atoms/DRText.vue'

export default {
	components: {
		'dr-icon': DRIcon,
		'dr-text': DRText,
	},

	props: {
		value: {
			type: String,
			default: ''
		},
		label: {
			type: String,
			default: 'Escolha o turno:'
		},
		morning: {
			type: Boolean,
			default: true
		},
		afternoon: {
			type: Boolean,
			default: true
		},
		night: {
			type: Boolean,
			default: true
		},
	},

	methods: {
		onClick(value) {
			console.log(value)
			this.$emit('input', value)
		}
	}
}
</script>

<style lang="scss">
.dr-toggle-shift{
	text-align: center;
	&__label{
		margin-bottom: 30px;
	}
	&__options{
		display: flex;
		align-items: center;
	}
	&__option{
		border: 2px solid rgba($c-black, .1);
		background: white;
		cursor: pointer;
		border-radius: 8px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 80px;
		margin: 0 5px 30px;
		transition: .15s $easeInOutQuad;
		flex: 1;
		&.is-active{
			border: 2px solid $c-accent;
			&:after{
				color: $c-accent;
			}
		}
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
		&:after{
			content: attr(data-label);
			position: absolute;
			top: 100%;
			left: 50%;
			padding: 10px 0;
			transform: translateX(-50%);
			font-size: 14px;
			color: rgba($c-black, .3);
			transition: .15s $easeInOutQuad;
		}
		&:disabled{
			opacity: 0.4;
			pointer-events: none;
		}
	}
}
</style>
